*{
   font-family: "Poppins",sans-serif;
}
.PricingSlider-Container{
    width:395px;
    height: 390px;
    margin-top: 20px;
 
    margin-left: 20px;
}
.PricingSlider-Heading{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}
.Onprem-Ofprem{
   
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction:column ;
    margin-bottom: 20px;
    
}
.Onprem-Heading{
    margin-left: -4px;
    font-size: 16px;
    font-weight:400;
}
.SectionA{
    width: 200px;
    height: 35px;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.SectionA-Heading{
    font-size: 16px;
    font-weight: 400;
    color:#5F5F5F;
    margin-left: 5px;
}
.SectionInput{
    display: flex;
    justify-content: space-between;
    gap:5px;
    margin-top: 4%;
}
.SectionA-Input{
    margin-left: 70px;
    border:1px solid #000000;
    width:100px;
    text-align: center;
    height: 28px;
    border-radius: 3.18px;
    padding-left: 8.07px;
    font-size: 16px;
    font-weight: 400;
}

.SectionA-Image{
    margin-left: 10px;
    
}
.Section-Label{
    width: 220px;
    margin-top:0px;
    margin-left: 28px;
    
}
.OnSectionLabelInput{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.OnSectionLabelInput-Heading{
    font-size: 16px;
    font-weight: 400;
    
}
.OnPremZomatoInhouseSwiggy{
    width: 320px;
  
  
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}
.OnPremZomatoInhouseSwiggyInput{
    display: flex;
    justify-content: flex-start;
    // border: 1px solid red;
    justify-content: left;
    
    align-items: center;
    padding: 5px;
    margin: 0;
    .triangle {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid #00B71D;
        margin: 0;
        padding: 0;

      
      }
      .rev-triangle
      {
        width: 0;
  height: 0;
  border-left: 8px solid transparent;
        border-right: 8px solid transparent;
  border-bottom: 16px solid #E52333;
  transform: rotate(180deg);

      }

}
.OnPremZomatoInhouseSwiggyInputOrg{
    border:1px solid #000000;
    width:100px;
    text-align: center;
    height: 28px;
    border-radius: 3.18px;
    padding-left: 8.07px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    box-sizing: border-box; 
}
.OnPremZomatoInhouseSwiggyInput-Heading{
    width: 125px; 
    // border: 1px solid blue;
    font-size: 16px;
    font-weight: 400;
    color:#5F5F5F;
   

}

.Compare{
    margin-left: 10px;
}

.input-price
{
    display: flex;
    // border: 1px solid red;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  
    .percentage
    {
        margin: 0;
        padding: 0;
        width: 80px;
        // border: 1px solid red;
    }
    

}