*{
   font-family: "Poppins",sans-serif;
}
.PricingSlider-Container{
    width:395px;
    height: 390px;
    margin-top: 20px;
    
    margin-left: 20px;
}
.PricingSlider-Heading{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}
.Onprem-Ofprem{
   
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction:column ;
    margin-bottom: 20px;
    
}
.Onprem-Heading{
    margin-left: -4px;
    font-size: 16px;
    font-weight:400;
}
.SectionA{
    width: 200px;
    height: 35px;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.SectionA-Heading{
    font-size: 16px;
    font-weight: 400;
    color:#5F5F5F
}
.SectionInput{
    display: flex;
    justify-content: space-between;
    gap:5px
}
.SectionA-Input{
    margin-left: 45px;
    border:1px solid #000000;
    width:100px;
    text-align: center;
    height: 28px;
    border-radius: 3.18px;
    padding-left: 8.07px;
    font-size: 16px;
    font-weight: 400;
}

.SectionA-Image{
    margin-left: 10px;
}
.Section-Label{
    width: 220px;
    margin-top:0px;
    margin-left: 28px;
    
}
.OnSectionLabelInput{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.OnSectionLabelInput-Heading{
    font-size: 16px;
    font-weight: 400;
    
}
.OnPremZomatoInhouseSwiggy{
    width: 320px;
    margin-top: 30px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}
.OnPremZomatoInhouseSwiggyInput{
    display: flex;
    justify-content: flex-start;

}
.OnPremZomatoInhouseSwiggyInputOrg{
    border:1px solid #000000;
    width:100px;
    text-align: center;
    height: 28px;
    border-radius: 3.18px;
    padding-left: 8.07px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px; /* Adds padding for a consistent look */
    box-sizing: border-box; 
}
.OnPremZomatoInhouseSwiggyInput-Heading{
    width: 125px; /* Set label width to ensure proper alignment */
    font-size: 16px;
    font-weight: 400;
    color:#5F5F5F;

}

.Compare{
    margin-left: 10px;
}

