:root {
  --cchart-bg: #ffffff; /* Default light theme color */
  --cchart-border: #000000;
}

.cdark-theme {
  --cchart-bg: #222b3c;
  --cchart-border: #ffffff;
}

.clight-theme {
  --cchart-bg: #ffffff;
  --cchart-border: #000000;
}

.c-bar-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  
  @media (max-width: 500px) {
    width: 100%;
    height: 100%;
  }
  canvas {
    width: 100%;
    height: 100%;
    background-color: var(--cchart-bg);
    // background-color: white;
    border-radius: 1rem;
    border: 1px solid var(--cchart-border);
    // border: 1px solid black;
    // .chart-title {
    //   color: var(--cchart-border); // You can set a title color here
    //   font-size: 100px;
    //   font-weight: bold;
    // }
  }
}
