.sales-report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 80vh; // Full viewport height
  text-align: center;
  background-color: #f8f8f8; // Light background
  // padding: 52px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .icon-cointainer {
    width: 100px;
    height: 100px;
    padding:50px;
    border-radius: 50%;
    background-color: #fff; // Soft red tone
    margin-bottom: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 20px;
  }

  .icon {
    width: 100px;
    height: 100px;
    fill: #ff8a8a; // Soft red tone
  }

  h2 {
    font-family: Poppins;
font-weight: 500;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.5px;
text-align: center;


    color: #393939;
  }

  p {
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
text-align: center;
color:#595959;

    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .sales-report-container {
    padding: 20px;
  }
}
