:root {
  --navbar-bg: #e0e0e0;
  --navbar-text: #333333;
  --table-bg: #ffffff;
  --table-text: #333333;
  --chart-bg: #ffffff;
  --screen-bg: #404d66;
}

.sales-dark-theme {
  --navbar-bg: #222b3c;
  --navbar-text: #6e7d7d;
  --table-bg: #222b3c;
  --table-text: #ffffff;
  --chart-bg: #222b3c;
  --screen-bg: #2e3a4f;
  --cchart-bg: #222b3c;
  --cchart-border: #ffffff;
}

.sales-light-theme {
  --navbar-bg: #e0e0e0;
  --navbar-text: #333333;
  --table-bg: #ffffff;
  --table-text: #333333;
  --chart-bg: #ffffff;
  --screen-bg: #ffffff;
  --cchart-bg: #ffffff;
  --cchart-border: #000000;
}

.s-sales-container {
  background-color: var(--screen-bg);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80vw;
  @media (max-width: 500px) {
    width: 100vw;
  }

  .s-sales-head {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;

    .s-name-board {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--table-text);

      h1 {
        font-weight: 500;
        font-size: 21px;
        @media (max-width: 800px) {
          font-size: 17px;
        }
      }
    }

    .s-dates {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      height: 6rem;

      .s-label-time-period {
        font-weight: 600;
        color: var(--table-text);
        @media (max-width: 800px) {
          font-size: smaller;
        }
        @media (max-width: 500px) {
          display: none;
        }
      }

      .s-filter-toggle-btn-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;

        .s-filter-toggle-btn {
          text-align: center;
          padding: 0.5rem;
          width: 10rem;
          height: 2rem;
          color: #000;
          background-color: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          border-radius: 0.8rem;
          cursor: pointer;
          @media (max-width: 800px) {
            width: 5rem;
            height: 1rem;
            font-size: smaller;
          }
        }

        .s-filter-drop-down-options {
          position: absolute;
          top: 110%;
          left: 50%;
          transform: translateX(-50%);
          width: 12rem;
          padding: 0.5rem;
          background-color: var(--navbar-bg);
          color: var(--navbar-text);
          border: 1px solid #ccc;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          z-index: 999;
          border-radius: 1rem;
          @media (max-width: 800px) {
            width: 5rem;
          }

          p {
            margin: 0;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 0.6rem;
            text-align: center;

            &:hover {
              background-color: var(--navbar-text);
              color: var(--navbar-bg);
            }

            @media (max-width: 800px) {
              font-size: x-small;
            }
          }
        }
      }
    }
  }
  .s-canva-pie-chart-outer-cont {
    display: flex;
    width: 71%;
    gap: 0.5rem;
    @media (max-width: 800px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .s-canva-pie-chart-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--chart-bg);
      width: 71%;
      border: 1px solid var(--table-text);
      border-radius: 1rem;
      overflow: hidden;
    }
  }

  .s-employee-details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s-overall-summary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    @media (max-width: 500px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (max-width: 800px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (max-width: 1080px) {
      display: flex;
      flex-wrap: wrap;
    }

    .s-box {
      height: 8rem;
      width: 10.5rem;
      border-radius: 1rem;
      background-color: var(--table-bg);
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: var(--table-text);
      border: 1px solid;
      @media (max-width: 1280px) {
        width: 8.6rem;
      }

      @media (max-width: 1080px) {
        width: 35%;
      }

      @media (max-width: 800px) {
        width: 35%;
      }

      @media (max-width: 500px) {
        width: 35%;
      }

      h2 {
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;
      }

      h3 {
        margin-bottom: 0rem;
        margin-top: 0rem;
      }
    }
  }

  .s-date-range-style {
    display: flex;
    height: 60px;
    right: 1rem;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;

    .dateLabel {
      align-items: flex-start;
      margin-right: 0.5rem;
      color: var(--table-text);
    }

    .s-start-date {
      height: 2rem;
      width: 9rem;
      padding: 0.5rem;
      border-radius: 0.6rem;
      border-style: thin;
      margin-right: 1rem;
    }

    .s-end-date {
      height: 2rem;
      width: 9rem;
      padding: 0.5rem;
      border-radius: 0.6rem;
      border-style: thin;
    }
  }

  .s-name-board-two {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--table-text);
    h1 {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }

  .s-tab-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    margin: auto;
    gap: 0.5rem;

    .s-table-container-one-s {
      width: 86%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      @media (max-width: 800px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .s-table-container-two-s {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: center;
      width: 86%;

      gap: 0.5rem;
      @media (max-width: 800px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .s-day-of-the-week {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .s-day-of-the-week-inner {
      width: 70%;
    }
  }
}
