.category-filters-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 40px 0px;
  }
  .category-store-name {
    h1 {
      font-size: 24px;
      font-weight: 500;
      font-family: "Poppins";
    }
    span {
      display: block;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: 500;
      font-family: "Poppins";
      color: #595959;
    }
  }
@media (max-width: 992px) {
    /* Reduce to 2 columns in .categories-overview-container */
    .categories-overview-card-container {
      flex: 0 0 calc(50% - 20px);
    }
    /* Possibly stack .category-filters-section or .category-dropdown-container */
    .category-filters-section {
      flex-direction: column;
      gap: 20px;
    }
    .category-dropdown-container {
      width: 100%;
      flex-direction: column;
    }
  }