.menu-details {
  margin-left: 60px;
  width: 80%;
  & h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }
  & h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 17px;
  }
  & .menu-details-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #c4c4c4;
    & .primary-sec {
      flex: 0 0 35%;
      margin-right: 70px;
    }
    & .secondary-sec {
      flex: 0 0 35%;
      margin-top: 43px;
    }
    & .upload-sec {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 23px 0px 43px 0px;

      & .upload-des {
        margin-left: 33px;
        & p {
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: #000000;
          opacity: 0.6;
          & svg {
            font-size: 20px;
            margin-right: 9px;
          }
        }
      }
    }
    & .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      background: #ffffff;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      width: 50%;
      & .file-add {
        padding: 14px;
        text-align: center;
        & svg {
          color: #0059a8;
          font-size: 35px;
          border: 1px solid;
          border-radius: 50%;
        }
        & p {
          margin: 0;
          font-size: 14px;
          color: #000000;
          opacity: 0.7;
        }
      }
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
  }
  & .form-cta {
    display: flex;
    justify-content: flex-end;
    padding: 59px 0px;
    & button {
      margin-right: 32px;
    }
  }
  & textarea {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 5px;
    color: #979797;
    padding: 5px 12px;
    margin-bottom: 30px;
    width: 100%;
    &::placeholder {
      color: #979797;
      font-family: "Poppins", sans-serif;
    }
  }
}
