.main-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  & .menu {
    width: 20%;
    padding: 0 47px 85px;
    border-right: 1px solid #c4c4c4;
    height: 100%;
    box-sizing: border-box;
    & h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 50px;
    }
    & ul {
      padding: 0;
      list-style: none;
      margin: 0;
      & a {
        color: #000;
      }
      & li {
        // margin-bottom: 30px;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
      }

      & a {
        margin-bottom: 30px;
        display: flex;
      }
      & .active {
        border-left: 3px solid #67833e;
        margin-left: -10px;
        padding-left: 10px;
      }
    }
  }
  @supports (position: sticky) {
    .is-sticky {
      position: sticky;
      top: 0; // Threshold is required
    }
  }
  & .menu-sec {
    width: 100%;
  }
  & .menu-items {
    width: 100%;
    padding-left: 39px;
    padding-right: 108px;
    box-sizing: border-box;

    & #employee_header {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: flex-start;

      & p {
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    & .Dropdown-control {
      margin-bottom: 30px;
    }
    & .header-menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;
    }
    & .drop-list {
      width: 40%;
    }
    & h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      margin-right: 25%;
    }
    & .empty-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 83px;
      & img {
        width: 245.41px;
        height: 215px;
        object-fit: contain;
        margin-bottom: 62px;
      }
      & h3 {
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  & .add-custom {
    margin-top: 20px;
  }
  & .create-menu {
    width: 100%;
    text-align: right;
    & button {
      cursor: pointer;
      border: 0;
      background: #00b71d;
      border-radius: 50%;
      color: #fff;
      padding: 7px 8px;
      & svg {
        font-size: 34px;
      }
    }
  }

  & .menu-list {
    width: 100%;
    & table {
      border-collapse: collapse;
      & thead {
        & th {
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          font-weight: normal;
          text-align: left;
          padding-bottom: 13px;
          border-bottom: 1px solid #c4c4c4;
        }
      }
      & td {
        padding: 20px 0px;
        border-bottom: 1px solid #e5e5e5;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        position: relative;
        & svg {
          cursor: pointer;
        }

        & ul {
          position: absolute;
          right: 20px;
          top: 24px;
          background: #fff;
          padding: 0;
          list-style-type: none;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          padding: 13px 17px 0px;
          z-index: 9999;
          box-sizing: border-box;

          & li {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            color: #000000;
            margin-bottom: 17px;
          }
        }
      }
      & .eye-icon {
        & img {
          width: 25px;
          height: 25px;
          object-fit: contain;
          cursor: pointer;
        }
      }
      & .item-type {
        & img {
          width: 11px;
          height: 11px;
          object-fit: contain;
          margin-right: 4px;
        }
      }
      & .custom {
        color: #0085ff;
        cursor: pointer;
      }
      & .edit-icon {
        padding-right: 10px;
        & svg {
          font-size: 20px;
          color: #0085ff;
          cursor: pointer;
        }
      }
      & .trash-icon {
        & svg {
          font-size: 20px;
          color: #000;
          opacity: 0.3;
          cursor: pointer;
        }
      }
      & .checkbox-label {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 26px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default checkbox */
      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      & .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #9a9a9a;
        box-sizing: border-box;
        border-radius: 2px;
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: #fff;
      }

      /* When the checkbox is checked, add a blue background */
      & input:checked ~ .checkmark {
        background-color: #2196f3;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      & input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      & .checkmark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}
