.switchable-box {
    display: flex;
    width: 20vw;
    height: 7vh;
    background: #f4f4f4;
    border-radius: 15px;
    padding: 5px 7px 5px 7px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    .switchable-tab {
      text-align: center;
      color: gray;
      width: 15vw; 
      height: 6vh;            
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &.active {
        background: white;
        color: black;
        width: 15vw;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
    }
    
  }
  