:root {
  --navbar-bg: #e0e0e0;
  --navbar-text: #333333;
  --table-bg: #ffffff;
  --table-text: #333333;
  --chart-bg: #ffffff;
  --screen-bg: #404d66;
}

.dark-theme {
  --navbar-bg: #222b3c;
  --navbar-text: #6e7d7d;
  --table-bg: #222b3c;
  --table-text: #ffffff;
  --chart-bg: #222b3c;
  --screen-bg: #2e3a4f;
}

.light-theme {
  --navbar-bg: #e0e0e0;
  --navbar-text: #333333;
  --table-bg: #ffffff;
  --table-text: #333333;
  --chart-bg: #ffffff;
  --screen-bg: #ffffff;
}
.live-reports {
  background-color: var(--screen-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  @media (max-width: 500px) {
    width: 100vw;
  }
  .liveHeader {
    font-size: 21px;
    font-weight: 500;
  }
  .cust-insights-head {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 30px;
    @media (max-width: 480px) {
      width: 90%;
      height: 6rem;
    }
    @media (max-width: 500px) {
      width: 90%;
      height: 6rem;
    }
    .name-board {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--table-text);
    }
    .dates {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      height: 6rem;
      width: 33%;
      // background-color: red;
      @media (max-width: 480px) {
        gap: 0.8rem;
        height: 6rem;
        width: 40% !important;
      }
      @media (max-width: 500px) {
        width: 50% !important;
      }
      @media (max-width: 1280px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        height: 6rem;
        width: 22%;
      }
      .filter-toggle-btn-container {
        position: relative; // Relative to contain the absolute dropdown
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        // background-color: orange;
        // width: 100%;

        .filter-toggle-btn {
          text-align: center;
          padding: 0.5rem;
          width: 10rem;
          color: #000;
          background-color: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          border-radius: 0.8rem;
          cursor: pointer;
          height: 2rem;
        }

        .filter-drop-down-options {
          position: absolute; // Absolute to overlay other elements
          top: 110%; // Positions dropdown just below the button
          left: 50%;
          transform: translateX(-50%);
          width: 12rem; // Adjusted for better fit
          padding: 0.5rem;
          background-color: var(--navbar-bg);
          color: var(--navbar-text);
          border: 1px solid #ccc;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          z-index: 999;
          border-radius: 1rem;

          p {
            margin: 0;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 0.6rem;
            &:hover {
              background-color: var(--navbar-text);
              color: var(--navbar-bg);
            }
          }
        }
      }
      .start-date {
        height: 2rem;
        width: 7rem;
        padding: 0.5rem;
        border-radius: 1rem;
        border-style: thin;
        @media (max-width: 480px) {
          height: 2rem;
          width: 5rem;
          padding: 0.5rem;
          border-radius: 1rem;
          border-style: thin;
          font-size: smaller;
        }
        @media (max-width: 500px) {
          height: 2rem;
          width: 5rem;
          font-size: smaller;
        }
      }
      .end-date {
        height: 2rem;
        width: 7rem;
        padding: 0.5rem;
        border-radius: 1rem;
        border-style: thin;
        @media (max-width: 480px) {
          height: 2rem;
          width: 5rem;
          padding: 0.5rem;
          border-radius: 1rem;
          border-style: thin;
          font-size: smaller;
        }
        @media (max-width: 500px) {
          height: 2rem;
          width: 5rem;
          font-size: smaller;
        }
      }
    }
  }
  .location-name {
    h1 {
      color: var(--table-text);
      text-align: center;
      font-size: 21px;
      font-weight: 600;
      margin-top: 30px;
    }
  }
  .canva-pie-chart-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--table-bg);
    // border-radius: 0.7rem;
    width: 98%;
    border: 1px solid var(--table-text);
  }
  .tables-container-one {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    // gap: 0.6rem;
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .tables-container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 0.8rem;
    margin-bottom: 10px;
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
