// .Date_container {
//   display: flex;
//   justify-content: flex-start;

//   width: 350px;
//   margin-top: 5px;
//   margin-bottom: 20px;
//   gap: 20px;
// }
// .date-picker-container
// {
//   z-index: 1;
// }


// .dayschecking {
//  position: relative;
//  top: 20px;
// }
// .DeleteSpecial {
//   margin-left: 27px;
//   transform: translateY(13px);
//   color: red;
//   font-weight: 400;
//   font-size: 14px;
// }
// .calender {
//   width: 21px;
//   height: 18px;
//   position: relative;
//   top: -27px;
//   left: 118px;
//   cursor: pointer;
// }
// .calender1 {
//   width: 21px;
//   height: 18px;
//   position: relative;
//   top: -27px;
//   // left:206px;
//   left: 117px;
//   z-index: 1;
//   cursor: pointer;
// }
// .react-datepicker-wrapper {
//   display: block;
// }
// .react-datepicker__input-container input {
//   width: 142px;
//   height: 34px;
//   padding: 8px;
//   font-size: 14px;
//   font-family: 400;
//   border: 1px solid rgba(0, 0, 0, 0.3);
//   border-radius: 4px;
// }
// .react-datepicker__month-container {
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   border: 1px solid rgba(0, 0, 0, 0.3);
//   border-radius: 4px;
// }
// .react-datepicker__day-name,
// .react-datepicker__day {
//   width: 30px;
//   line-height: 30px;
//   margin: 2px;
//   text-align: center;
// }
// .react-datepicker__day--selected {
//   background-color: green;
//   color: white;
// }
// .react-datepicker__day--keyboard-selected {
//   background-color: green;
//   color: white;
// }

// .DineInRelatedHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: -6px;
// }
// .DineInRelatedSpecial {
//   display: flex;
//   position: relative;
//   top: -60px;
//   justify-content: flex start;
//   gap: 1.25rem;
// }
// .InventorySection {
//   display: flex;
//   flex-direction: column;
// }
// .DineInInput11Special {
//   transform: translateY(-50px);
//   display: flex;
//   justify-content: flex-start;
//   gap: 0.625rem;
//   margin-top: 28px;
//   margin-bottom: 45px;
//   margin-left: -50px;
//   position: relative;

//   select {
//     margin-left: 20px;
//   }
// }
// .DineInInput11Special:nth-child(1) {
//   z-index: 1;
// }

// .DineInInput11Special:nth-child(2) {
//   z-index: 2;
// }

// .DineInInput2 {
//   border: 1px solid rgba(0, 0, 0, 0.3);
//   border-radius: 0.313rem;
//   width: 18.75rem;
//   height: 2.75rem;
//   border-radius: 0.313rem;
//   font-size: 0.75rem;
//   color: #979797;
//   font-weight: 400;
// }
// .DineInInput1 {
//   border: 1px solid rgba(0, 0, 0, 0.3);
//   border-radius: 0.313rem;
//   width: 150px;
//   height: 2.75rem;
//   border-radius: 5px;
//   font-size: 14px;
//   color: #979797;
//   font-weight: 400;
//   padding-left: 14px;
// }
// .toggleDinein {
//   margin-top: -8px;
// }
// .DropD4 {
//   margin-left: -10px;
//   margin-top: -25px;
// }
// .SpecialDropDown {
//   margin-left: -10px;
//   margin-top: -25px;
// }

// .DineInInput1::placeholder {
//   font-size: 0.875rem;
//   color: #979797;
//   font-weight: 400;
//   padding-left: 13px;
// }
// .DineInInputService {
//   border: 1px solid rgba(0, 0, 0, 0.3);
//   border-radius: 0.313rem;
//   width: 12.5rem;
//   height: 2.75rem;
//   font-size: 0.875rem;
//   color: #979797;
//   font-weight: 400;
// }

// .AddentrySpecialOnToggle {
//   margin-top: -50px;
//   font-size: 0.875rem;
//   font-weight: 400;
//   color: #0085ff;
//   cursor: pointer;
// }

// .AddentrySpecial {
//   font-size: 0.875rem;
//   font-weight: 400;
//   color: #0085ff;
//   cursor: pointer;
//   margin-top: -89px;
// }
// .OnlineRelated {
//   display: flex;
//   justify-content: flex start;
//   gap: 1.625rem;
//   margin-top: 15px;
// }
// .OnlineRelatedHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: 1rem;
// }
// .OnlineSection {
//   display: flex;
//   flex-direction: column;
//   margin-left: 1.875rem;
// }
// .PickupRelated {
//   display: flex;
//   justify-content: flex start;
//   gap: 1.563rem;
// }
// .PickupRelatedHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: 1rem;
// }

// .PickupEleRelated {
//   display: flex;
//   justify-content: flex start;
// }
// .PickupEleRelatedHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: 1rem;
// }
// .PickupInput11 {
//   display: flex;
//   justify-content: flex-start;
//   margin-top: 23px;
//   margin-bottom: 10px;

//   gap: 0.625rem;

//   select {
//     margin-left: 20px;
//   }
// }
// .PickDrop5 {
//   margin-left: -10px;
//   margin-top: -25px;
//   z-index: 10;
// }
// .LabelPriceSpecial {
//   transform: translateY(18px);
//   margin-left: 7px;
//   color: #666666;
//   font-size: 14px;
//   font-weight: 400;
// }
// .DeliveryRelated {
//   display: flex;
//   justify-content: flex start;
//   gap: 1.563rem;
//   position: relative;
//   top: -5px;
// }
// .DeliveryRelatedHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: 1rem;
// }
// .DeliverySection {
//   display: flex;
//   flex-direction: column;
// }
// .Delivery11 {
//   transform: translateX(30px);
//   display: flex;
//   justify-content: flex-start;

//   gap: 10px;
// }
// .DelLabelPrice {
//   color: #666666;
//   font-size: 14px;
//   margin-left: 6px;
//   transform: translateY(12px);
// }
// .DelDrop {
//   margin-top: -25px;
//   margin-left: -10px;
//   z-index: 3;
// }
// .ThirdDeliveryRelatedHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: 3px;
// }
// .DeliveryInput2 {
//   border-radius: 0.313rem;
//   width: 18.75rem;
//   height: 2.75rem;
//   margin-bottom: 0.625rem;
//   border: 1px solid rgba(0, 0, 0, 0.3);
// }
// .DeliveryInput2::placeholder {
//   padding-left: 10px;
// }

// .LabelPriceSwiggy {
//   margin-top: -5px;
//   color: #666666;
//   font-size: 14px;
//   margin-left: 5px;
// }

// .thirdparty {
//   position: relative;
//   top: -10px;
// }
// .Delivery11 {
//   border-radius: 0.313rem;
//   margin-bottom: 0.625rem;
//   margin-top: 1rem;
//   input {
//     margin-top: 3px;
//   }

//   select {
//     margin-left: 20px;
//   }
// }
// .AvailableDaysHeading {
//   font-size: 0.875rem;
//   font-weight: 500;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }
// .Days-check
// {
//   width: 100%;
//   height: 50px;
//   border: 1px solid red;

// }
// .LabelSpecialPrice {
//   color: #666666;
//   font-size: 14px;
//   margin-top: -22px;
//   transform: translateX(58px);
// }

// .Delivery11Zomato{
// margin-left: -30px;
// }
// .LabelZoamtoSwiggy1{
//   color: #666666;
//   font-size: 14px;
//   margin-top: 22px;
//   transform: translateX(40px);
  
// }

.Days-check
{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100px;
  // border: 1px solid red;
}
.OnlineSection {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.Date_container
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  .calender {
  width: 21px;
  height: 18px;
  position: relative;
  top: -27px;
  left: 10rem;
  cursor: pointer;
}
.calender1 {
  width: 21px;
  height: 18px;
  position: relative;
  top: -27px;
  // left:206px;
  left: 10rem;
  z-index: 1;
  cursor: pointer;
}
}
.dayschecking-special
{
 position: relative;
 top: 0rem;
 .Note
 {
  font-family: Poppins;
font-size: 14px;
font-style: italic;
font-weight: 300;
line-height: 21px;
text-align: left;
color: #5F5F5F;

 }
}

.DineInRelatedSpecial
{
  display: flex;
  gap: 30px;
  margin-top: 50px;
  .DineInRelatedHeading
  {
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;

  }

}
.LabelSpecialPrice {
  color: #666666;
  font-size: 14px;
 
}
.dineinentry
{
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #0085FF;
}
.DineInInput11Special
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 0.5rem;
  .DropD4 {
  margin-left: -10px;
  margin-top: -20px;
}
.SpecialDropDown {
  margin-left: -10px;
  margin-top: -25px;
}

  .DeleteSpecial {
    margin-left: 27px;
    transform: translateY(13px);
    color: red;
    font-weight: 400;
    font-size: 14px;
  
  }
  .price-input-price
  {

    .DineInInput1 {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.313rem;
  width: 150px;
  height: 2.75rem;
  border-radius: 5px;
  font-size: 14px;
  color: #979797;
  font-weight: 400;
  padding-left: 14px;
}

  }
}

.Add-entry
{
  display: flex;
  width: 100px;
  height: 40px;
  // border: 1px solid red;

}

.AddentrySpecialOnToggle {
  margin-top: -50px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #0085ff;
  cursor: pointer;
  width: 100px;
  // border: 1px solid red;
}


.AddentrySpecial {
  font-size: 0.875rem;
  font-weight: 400;
  color: #0085ff;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 100px;
  // border: 1px solid red;

}

.OnlineRelated {
  display: flex;
  justify-content: flex start;
  gap: 2.3rem;
  margin-top: 1.5rem;
}
.OnlineRelatedHeading {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
}
.PickupRelated {
  display: flex;
  justify-content: flex start;
  gap: 2rem;
  .Thridparty-delivery
  {
    position: relative;
    left: 1rem;
  }
}
.PickupRelatedHeading {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
  
}

.DeliveryRelated {
  display: flex;
  justify-content: flex start;
  gap: 1.563rem;
  position: relative;
  top: -5px;
}
.DeliveryRelatedHeading {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
}

.PickupSection {
  display: flex;
  flex-direction: row;
  margin-top: 0.5%;
  margin-bottom: 1%;

  .Pickup-price-mealtype
  {
    display: flex;
    flex-direction: row;
  }
}
.PickupInput11 {
  display: flex;
  // justify-content: flex-start;
  // margin-top: 23px;
  // margin-bottom: 10px;

  gap: 0.625rem;
  .PickDrop5 {
  margin-left: -10px;
  margin-top: -25px;
  z-index: 10;
}

  select {
    // margin-left: 20px;
  }
}

.DeliverySection
{
  display: flex;
  gap: 30px;
  margin-bottom: 0.5%;

  .Deliverypricefield
  {
    display: flex;
    // margin-left: 1rem;
  }
  .deliveryinput
  {
      

  }
  .DelDrop {
  margin-top: -25px;

  z-index: 3;
}
}


.AvailableDaysHeading {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;

}

.ThirdDeliveryRelatedHeading {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
}
.LabelPriceSpecial {
 

  color: #979797;
  font-size: 14px;
  font-weight: 400;
}
.DelLabelPrice
{
  color: #979797;
  font-size: 14px;
  font-weight: 400;
}
.LabelZoamtoSwiggy1
{
  color: #979797;
  font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-top: 0.2rem;

}
.Thridparty-delivery
{
  margin-left: -1.8rem;
  margin-top: 0.2rem;
  z-index: 1;


}
.ThirdpartySpecial
{
  z-index: 0;
  margin-top: 1.4rem;
 
}
.third-party-special
{
  margin-bottom: 1rem;
  // z-index: 0;
}
.Third2
{
  z-index: 0;
}

.Third2Special {
  margin-top: -25px;
  margin-left: -17px;
 
}
.ThirdpartySpecial, .Third2 {
  // z-index: 3; 
  position: relative; 
}

.Delivery11Zomato {
  // z-index: 1; 
}

.third-party-special {
  position: relative; 
  z-index: 0; 
  top: 0.5rem;
}
.ErrormsgPickupPriceSpecial{
  position: relative;
  top: 24px;
  left: 20px;
  color:red;
  font-size: 14px;
  font-weight: 400
}