.SubHeadingContainerMin {
    width: 183%;
    display: flex;
    justify-content: space-between;
    background-color: palegoldenrod;
}

.SubHeadingContainerExpanded{
    width: 116%;
    display: flex;
    justify-content: space-between;
    background-color: pink;
}