.reports-tab-switch {
    display: flex;
    // gap: 30px;
    border-bottom: 1px solid #eee;
    // padding: 10px 0;
  
    .tab {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      color: #888;
      padding: 10px 15px;
      position: relative;
      font-weight: 500;
  
      &.active {
        color: #222;
        font-weight: 600;
        background: #ffecec;
        border-radius: 6px;
      }
  
      &.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
  }
  