.customize-container{
    width: 394px;
    height: 570px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    
}

.customize-heading{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 60px;
    align-items: Center;
}

// {****************Items****************************************************************************************}

.items-container{
    width: 308px;
    height: auto;
    margin-top: -10px;
    padding-left: 40px;
}
.item-toggle-container-flex{
    display: flex;
    justify-content: flex-start;
    gap: 17px;

}

.item-heading{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.toggle-container{
    position: relative;
    top: 12px   ;
}


// {-------------------------------------SubItems--------------------------------------------------------------------}
.subitems-toggle-container-flex-direction{
    

    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 5px;
}
.subitems-toggle-container-flex{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.subItemToggle{
    position: relative;
    top: 4px;

}

.input-subitem{
    position: relative;
    top: -20px;
    left: 20px;
    width:83px;
    height: 28px;
    border-radius: 3.18px;
 border: 0.64px solid #000000;
 padding-left: 20px;
 padding-top: 4px;
 color: #000000;
}

.subitem-heading{
    width: 64px;
    font-family: Poppins;
    font-size: 16px;
    color: #5F5F5F;
}