.table-container {
    margin: 20px;
    font-family: "Poppins";
  }
  
  table {
    transform: translateX(180px);
    width: 1320px;
    border-collapse: collapse;
  }
  
  th,
  td {
    text-align: left;
    padding: 12px;
    width: 10px;
    padding: 20px;
    padding-left: 5px;
  }
  
  th {
    background-color:white;
  }
  
  tr:nth-child(odd) {
    background-color: #E4E0E1;
  }
  
  tr:hover {
    background-color: #E8E8E8;
  }
  td:nth-child(4) {
    padding-right: 30px; /* Adjust this value for more space */
  }
  
  td:nth-child(5) {
    padding-left: 30px; /* Adjust this value for more space */
  }
  
  .extra-items {
    color: green;
    font-size: 0.9em;
    margin-left: 5px;
  }
  
  .day-icons span {
    display: inline-block;
    margin-right: 4px;
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
  .OfferDiv{
    border: 0;
  height: 1px;
  background-color: #E9E9E9; /* Light gray color */
  margin: 20px 0; 
  transform: translateY(-20px);
  width:750%;
  }
  