.OfferSideNavbarContainer{
  display: flex;
  justify-content: center;
  
}
.table-container {
  width:1750px;
  position: absolute;
  top:140px;
  left:360px;
    font-family: "Poppins";
    
    /* Adds a smooth transition effect on transform */

  }
  .table-container1{
    width:1150px;
    position: absolute;
    top:140px;
    left:160px;
      font-family: "Poppins";
      transition: transform 0.2s ease-in;



  }
  
  .OffersTable {
    transform: translateX(20px);
    width: 1320px;
    border-collapse: collapse;
  }
  
  th.OffrtsTableth,
  td.OffrtsTabletd {
    text-align: left;
    padding: 12px;
    width: 150px;
    padding: 20px;
    padding-left: 5px;
    // border: 2px solid;
  }
  
  th.OffrtsTableth {
    background-color:white;
  }
  th.OffrtsTableth:nth-child(3) {
    width: 200px;
    padding-left: 60px;

  }
  th.OffrtsTableth:nth-child(4) {
    width: 200px;
    padding-left: 60px;

  }
  

  tr.OffrtsTabletr:nth-child(odd) {
    background-color: #E4E0E1;
  }
 
  tr.OffrsTabletr:hover {
    background-color: #E8E8E8;
  }
  td.OffrtsTabletd:nth-child(4) {
    padding-right: 30px;
    width: 300px;
    padding-left: 50px;
  }
  td.OffrtsTabletd:nth-child(3) {
    width: 200px;
    padding-left: 50px;

    }
  
  td.OffrtsTabletd:nth-child(5) {
    padding-left: 30px;
  }
  td.OffrtsTabletd:nth-child(2){
    border:2px solid red
  }
  .extra-items {
    color: green;
    font-size: 0.9em;
    margin-left: 5px;
  }
  
  .day-icons span {
    display: inline-block;
    margin-right: 4px;
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
  .OfferDiv{
    border: 0;
  height: 1px;
  background-color: #E9E9E9; /* Light gray color */
  margin: 20px 0; 
  width:800%
  
  }
  .OfferDiv2{
    border: 0;
    height: 1px;
    background-color: #E9E9E9; /* Light gray color */
    margin: 20px 0; 
    width:900%

  }
  .RowDuration{
  display:flex ;
  flex-direction: column;
  }
  