.reports-refresh-button{
padding-top: 9px;
padding-right: 16px;
padding-bottom: 9px;
padding-left: 16px;
gap: 12px;
width:124px;
border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF0F1;
    color: #393939;
    border: 1px solid #FFF0F1;
    font-weight: 500;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:active {
        transform: scale(0.95); 
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); 
      }
}