.KitchenRelatedHeadingNormal {
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.063rem;
  margin-top: 10px;
}
.AvailableServiceHeading {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.063rem;
  margin-top: 10px;
  color: rgba(0, 0, 0, 1);
}

.dayschecking {
  margin-top: -0.8rem;
  position: relative;
  left: 10px;
  height: 50px;
  // border: 1px solid red;
  // margin-left: -10px;
  .Note {
    font-family: Poppins;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: #5f5f5f;
  }
}
.ServiceDropDown {
  transform: translateY(60px);
  z-index: 1;
}
.PickupDrop {
  transform: translateY(60px);
}
.DeliveryDrop {
  height: 0px;
  width: 0px;
  margin-top: 60px;
  margin-left: -10px;
  border: 2px solid red;
}
.ThirdDeliveryDrop1 {
  transform: translateY(60px);
}
.ThirdDeliveryDrop {
  transform: translateY(60px);
  z-index: 100000;
}

.DineInRelatedHeadingNormalAvail {
  font-size: 0.875rem;
  font-weight: 500;
  // margin-top: 1rem;
}
.DineInRelated {
  display: flex;
  justify-content: left;
  gap: 2rem;
  align-items: center;
  width: fit-content;
  height: 30px;
  margin-top: 3rem;
  // border: 1px solid red;
}
.Online-delivery {
  margin-top: 1rem;
  height: 4rem;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  position: relative;
  .Dine-In-Price {
    display: flex;
    flex-direction: column;
    .Errormsg {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #e52333;
    }
  }
}

.Online-delivery:nth-child(1) {
  z-index: 1;
}

.Online-delivery:nth-child(2) {
  z-index: 2;
}
.DeleteButtonDine {
  margin-top: 12px;
  margin-left: 15px;
  color: #e52333;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.dayspickup {
  margin-top: -1.7rem;
  margin-bottom: 0.7rem;
}
.dayspick-pickup {
  margin-top: -1.7rem;
  margin-bottom: 0.7rem;
}
.dayspickup-normal {
  margin-top: -1.7rem;
  margin-bottom: 0.7rem;
}

.DineInInput11Normal {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
  gap: 1.8rem;
  position: relative;
  .Dine-In-Price {
    display: flex;
    flex-direction: column;
    .Errormsg {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #e52333;
    }
  }
  // margin-top: 0.3rem;
}
.DineInInput11Normal:nth-child(1) {
  position: relative;
  // top: 2rem;
  z-index: 1;
}

.DineInInput11Normal:nth-child(2) {
  position: relative;
  // top: 2rem;
  z-index: 2;
}
.LabelPrice {
  transform: translateY(4px);
  margin-left: 1px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
.LabelPrice-delivery {
  transform: translateY(15px);
  margin-left: 1px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
.Thrid-party-price {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.Service {
  margin-top: -25px;
  margin-left: -10px;
  z-index: 10;
  .Errormsg {
    position: relative;
    top: 1.3rem;
    left: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #e52333;
  }
}

.DineInInput2Normal {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.313rem;
  width: 18.75rem;
  height: 2.75rem;
  border-radius: 0.313rem;
  font-size: 0.875rem;
  color: #979797;
  padding-left: 5px;
  font-weight: 400;
}
.DineInInput2Normalpickup {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.313rem;
  width: 18.75rem;
  height: 2.75rem;

  font-size: 0.875rem;
  color: #979797;
  padding-left: 5px;
  font-weight: 400;
  margin-left: 20px;
}

.DineInInput1Normal {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.313rem;
  width: 9.75rem;
  height: 2.75rem;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  padding-left: 10px;
  font-weight: 400;
  // background-color: pink;
}

.DineInInput1Normal::placeholder {
  font-size: 0.875rem;
  color: #979797;
  font-weight: 400;
  // padding-left: 0.813rem;
}
.DineInInputServiceNormal {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.313rem;
  width: 12.5rem;
  height: 2.75rem;
  font-size: 0.875rem;
  color: #979797;
  font-weight: 400;
}

.dineInChooseDayContainer {
  display: flex;
  justify-content: start;
  gap: 0.313rem;
  margin-bottom: 54px;
}
.Mealz {
  margin-top: -25px;
  margin-left: -10px;
  z-index: 1;

  .Errormsg {
    position: relative;
    top: 1.3rem;
    left: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #e52333;
  }
}

.dineInChooseDayContainerHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.313rem;
  transform: translate(0px, 21px);
}

.dineInChooseDayContainer-chooseheading {
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.313rem;
  color: #67833e;
  margin-top: 0px;
  cursor: pointer;
  transform: translateY(22px);
}

.AddentryNormal {
  position: relative;
  margin-bottom: 19px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #0085ff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  width: fit-content;
  margin-top: 81px;
}
// .react-datepicker__month-container .OnlineRelatedNormal {
//   display: flex;
//   justify-content: flex start;
//   gap: 1.625rem;
//   margin-top: 8px;
// }
.OnlineRelatedNormal {
  display: flex;
  justify-content: flex start;
  gap: 2.2rem;
  margin-top: 7px;
}
.OnlineRelatedHeadingNormal {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
}
.OnlineSectionNormal {
  display: flex;
  flex-direction: column;
  margin-left: 1.875rem;
}
.PickupRelatedNormal {
  display: flex;
  justify-content: flex start;
  gap: 2.35rem;
}
.PickupRelatedHeadingNormal {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1rem;
}
.PickupSectionNormal {
  display: flex;
  flex-direction: column;
  margin-top: -14px;
  margin-bottom: 0.5rem;
}
.PrizeD {
  margin-top: -25px;
  margin-left: -12px;
  z-index: 1;
}
.LabelPricePickup {
  transform: translateY(20px);
  margin-left: 1px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
.DeliveryD {
  margin-top: -25px;
  margin-left: -30px;
  z-index: 1;
}
.LabelPrice1 {
  transform: translateY(13px);
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
.LabelPrice2 {
  transform: translateY(27px);
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}

.PickupInput11Normal {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.25rem;
  height: 4rem;
  // border: 1px solid red;
  gap: 2.7rem;
}
.PickupInput11Normal:nth-child(1) {
  z-index: 1;
}

.PickupInput11Normal:nth-child(2) {
  z-index: 2;
}
.DeliveryRelatedNormal {
  display: flex;
  justify-content: flex start;
  gap: 2rem;
  margin-top: 0.5rem;
}
.DeliveryRelatedNormalopen {
  display: flex;
  justify-content: flex start;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.DeliveryRelatedHeadingNormal {
  font-size: 0.875rem;
  font-weight: 500;
}
.toggleV {
  margin-top: -1rem;
}
.DeliverySectionNormal {
  display: flex;
  flex-direction: column;
  margin-top: -1.5rem;
}
.DeliverySectionNormalclose {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.ThirdDeliveryRelatedHeadingNormal {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: -1.2rem;
}

.thirdpartyContainer {
  height: 20rem;
}

.DeliveryInput2Normal {
  border-radius: 0.313rem;
  width: 18.75rem;
  height: 2.75rem;
  margin-bottom: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #979797;
  font-size: 14px;
}
.DeliveryInput2::placeholder {
  // padding-left: 0.625rem;
}
.Delivery12 {
  border-radius: 0.313rem;
  margin-bottom: 0.825rem;
  margin-top: 30px;
  display: flex;
  z-index: 100;
  justify-content: flex-start;

  gap: 0.625rem;
  input {
    // padding-left: 10px;
  }

  .DineInInput2Normal {
    margin-left: 20px;
  }
}
.Delivery13 {
  border-radius: 0.313rem;
  margin-bottom: 0.625rem;
  z-index: -1;

  display: flex;
  justify-content: flex-start;
  .DineInInput2Normal {
    margin-left: 20px;
  }
  gap: 0.625rem;
}

.ThridParty-dropdown {
  position: relative;

  border-radius: 0.313rem;
  z-index: 0;
  width: 200px;
  height: 4rem;
  // border: 1px solid red;
  margin-bottom: 10px;
  input {
    padding-left: 15px;
  }
}

.AvailableDaysHeadingNormal {
  font-size: 14px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 0.1rem;
  margin-left: 10px;
}
.AvailDaycheck {
  // margin-top: 200px;
  .AvailDaycheck-Heading {
    width: 170px;
    height: 40px;
    // border:1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

    .tooltip {
      width: 50px;
      height: 50px;
      // border:1px solid red;
      position: relative;
      left: 0.5rem;
      top: 0.2rem;
    }
  }
}

.onlineselected {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.Third1 {
  margin-left: -2px;
  z-index: 2;
}
.Third2 {
  margin-left: -2px;
  z-index: 2;
}
.LabelSwiggyInputDropDown {
  display: flex;
  align-items: center;
  width: 600px;
  height: 100px;
  // border: 1px solid red;
}
.swiggyZomato-input {
  // margin-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
  width: 200px;
  height: 44px;
  font-weight: 400;
}
.thridparties-dropdown {
  margin-top: 1.3rem;
  margin-left: 1rem;
}
.swiggyZomatoHeading {
  transform: translateY(24px);
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
.LabelSwiggyInput {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.ErrormsgPickup {
  position: relative;
  top: 20px;
  left: 30px;
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.Errormsg {
  position: relative;
  top: 20px;
  left: 10px;
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.ErrormsgPrice {
  position: relative;

  color: red;
  font-size: 14px;
  font-weight: 400;
  // border: 1px solid red;
}
.ErrormsgPickupPrice {
  position: relative;
  top: 44px;
  right: 10rem;
  color: red;
  font-size: 14px;
  font-weight: 400;
}

.DineIn-Fields {
  position: relative;
  top: 5px;
  margin-bottom: 26px;
}

.PickupChooseDayContainer {
  display: flex;
  justify-content: left;
  gap: 0.313rem;
  // border: 1px solid red;
  margin-top: -0.8rem;
  cursor: pointer;
  width: 400px;
  height: 2rem;
  align-items: center;
  margin-bottom: 42px;
}
.Mealz {
  margin-top: -25px;
  margin-left: -10px;
  z-index: 1;

  .Errormsg {
    position: relative;
    top: 1.3rem;
    left: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #e52333;
  }
}

.pickupChooseDayContainerHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.313rem;
  cursor: pointer;
  margin-top: 10px;
}

.pickupChooseDayContainer-chooseheading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #67833e;
  margin-top: 0.8rem;
  cursor: pointer;
  width: 200px;
  height: 2rem;
  text-align: left;
  margin-top: 22px;
  // border: 1px solid red;
}

.deliveryChooseDayContainer {
  display: flex;
  justify-content: left;
  gap: 0.313rem;

  position: relative;
  bottom: 0.7rem;
  cursor: pointer;
  width: 400px;
  height: 2rem;
  align-items: center;

  // margin-bottom: 10px;
}
.Mealz {
  margin-top: -25px;
  margin-left: -10px;
  z-index: 1;

  .Errormsg {
    position: relative;
    top: 1.3rem;
    left: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #e52333;
  }
}

.deliveryChooseDayContainerHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.313rem;
  cursor: pointer;
}

.deliveryChooseDayContainer-chooseheading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;

  color: #67833e;
  margin-top: 0.8rem;
  cursor: pointer;
  width: 200px;
  height: 2rem;
  text-align: left;
  // border: 1px solid red;
}
.ThirdPartyChooseDayContainer {
  display: flex;
  justify-content: left;
  gap: 0.313rem;
  // border: 1px solid red;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  width: 400px;
  height: 2rem;
  align-items: center;

  // margin-bottom: 10px;
}
.Mealz {
  margin-top: -25px;
  margin-left: -10px;
  z-index: 1;

  .Errormsg {
    position: relative;
    top: 1.4rem;
    left: 0rem;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #e52333;
  }
}

.ThirdPartyChooseDayContainerHeading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.313rem;
  cursor: pointer;
  margin-top: 64px;
  margin-bottom: 40px;
}

.ThirdPartyChooseDayContainer-chooseheading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #67833e;
  margin-top: 106px;
  cursor: pointer;
  width: 200px;
  height: 2rem;
  text-align: left;
  margin-bottom: 70px;
  // border: 1px solid red;
}
