.warning-message
{
 
  background-color:   rgba(103, 131, 62, 1);
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-top: 40%;
  font-family: 'Poppins',sans-serif;
}

.landingpage
{
  position: fixed;
}