* {
  font-family: "Poppins", sans-serif;
}
.dropdown-containerPricing2 {
  position: relative;
  width: 300px;
  height: 44px;
  margin-left: 30px;
  transform: translateY(-23px);
  margin-left: -10px;
}

.dropdownPricing2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);

  cursor: pointer;
  width: 300px;
  height: 44px;
  border-radius: 5px;
}
.dropdownPricingred2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 232px;
  height: 44px;
  border-radius: 5px;
}

.optionsPricing2 {
  position: absolute;
  top: 68px;
  left: 0;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 136px; /* Adjust this height as needed */
  overflow-y: auto;
  font-size: 14px;
}

.optionsPricing2 label {
  margin-top: -5px;
  display: block;
  padding: 10px;
  color: #979797;
}

.optionsPricing2 input[type="checkbox"] {
  margin-right: 8px;
}

.addbtnPricing2 {
  padding: 10px;
}

.inputntnoptionsPricing2 {
  width: calc(100% - 60px);
  padding: 5px;
}

.add-item-btn,
.btn-add-item {
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.placePricing2 {
  color: #979797;
  margin-left: 10px;
}
.imgplacePricing2 {
  display: flex;
  justify-content: start;
}
.add-item-btn:hover,
.btn-add-item:hover {
  background-color: #0056b3;
}
.checkboxPricing2 {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  accent-color: #E52333;
  margin-left: 10px;
}
.valuePricing2 {
  font-size: 14px;
  font-weight: 400;
  color: #979797;
}
.arrowdropPricing2 {
  width: 16px;
  height: 8.67px;
  opacity: 30%;
}
.arrowrotatePricing2 {
  width: 16px;
  height: 8.67px;
  transform: rotate(180deg);
  opacity: 30%;
}
.droplabelPricing2 {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
