.menu-details {
  margin-left: 60px;
  width: 80%;
  padding-top: 4.5%;
  //position: fixed;
  & h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
    color: #000;
    display: flex;
    align-items: center;
  }

  & .title {
    cursor: pointer;
    & svg {
      color: #000;
      font-size: 30px;
      margin-right: 20px;
    }
  }

  & h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 17px;
  }

  & .Dropdown-control {
    border: 1px solid #dadada;
    //margin-bottom: 30px;

    & .placeholder-class {
      color: #979797;
    }

    & .is-selected {
      color: #000000;
    }
  }

  & .acess-flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    & input {
      margin: 0;
      margin-left: 15px;
    }
    & .pin-input::-webkit-input-placeholder {
      width: 166.21px;
    }
    .switch-container {
      display: flex;
    }
    & .error-msg {
      color: red;
      margin: 0px;
      position: absolute;
      margin-top: -70px;
      font-size: 16px;
    }

    & p {
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #979797;
      flex: 0 0 25%;
      margin-right: 15px;
    }
  }

  & .menu-details-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    //border-bottom: 1px solid #c4c4c4;
    & .primary-sec {
      flex: 0 0 35%;
      margin-right: 70px;
    }
    & .secondary-sec {
      flex: 0 0 35%;
      margin-top: 43px;
    }
    & .upload-sec {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 23px 0px 43px 0px;

      & .upload-des {
        margin-left: 33px;
        & p {
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: #000000;
          opacity: 0.6;
          & svg {
            font-size: 20px;
            margin-right: 9px;
          }
        }
      }
    }
    & .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      background: #ffffff;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      width: 50%;
      & .file-add {
        padding: 14px;
        text-align: center;
        & svg {
          color: #0059a8;
          font-size: 35px;
          border: 1px solid;
          border-radius: 50%;
        }
        & p {
          margin: 0;
          font-size: 14px;
          color: #000000;
          opacity: 0.7;
        }
      }
    }

    .upload-btn-wrapper input[type="file"] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }
    & .uploaded-file {
      & img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
  & textarea {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 5px;
    color: #979797;
    padding: 5px 12px;
    margin-bottom: 30px;
    width: 100%;
    &::placeholder {
      color: #979797;
      font-family: "Poppins", sans-serif;
    }
  }
}
