.main-section {
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  // background-color: greenyellow;

  & .menu {
    z-index: 9;
    background-color: #fff;
    // min-width: 150px;
    width: 6vw;

    padding: 2.5% 1.5%;
    border-right: 1px solid #c4c4c4;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    transition: width 0.6s ease;
    overflow: hidden;
    @media (max-width: 1397px) {
      width: 7vw !important;
    }

    & .magilhub {
      width: 5vw;
    }

    &.expanded {
      width: 18%;
      transition: width 0.6s ease;
      overflow: hidden;

      li {
        margin-top: 20px;
      }
      .drop-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10.8%;
        width: 110%;
      }
      .menu-items-SVG {
        padding-right: 12px;
        padding-left: 6px;
        // padding-top: 1rem;
        height: 20px;
        width: 20px;
        // padding-bottom: 1.1%;
      }
      @media (max-width: 1397px) {
        width: 19% !important;
        // border: 1px solid red !important;
      }
    }

    & h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 50px;
    }
    & ul {
      padding: 0;
      padding-top: 20px;
      list-style: none;
      margin: 0;
      // list-style-type: disc;
      & a {
        color: #000;
      }
      & div {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 16px;
        @media (max-width: 991px) {
          font-size: 14px;
        }
      }
      & li {
        // margin-bottom: 12%;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }

      & a {
        // margin-bottom: 30px;
        display: flex;
        align-items: center;
        // justify-content: center;
        align-content: center;
      }

      & .menu-items-SVG {
        padding-right: 12px;
        padding-left: 6px;
        height: 28px;
        width: 28px;
        // padding-top: 2rem;
        // padding-bottom: 1rem ;
        // border: 1px solid red;
      }

      // & .menu-items-SVG path {
      //   fill: black !important;
      // }

      & .active {
        color: #e52333;
        list-style-type: disc;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        & .menu-items-SVG path {
          fill: #e52333 !important;
          height: 28px;
          width: 28px;

          //stroke: #E52333;
        }
      }

      & ul {
        // padding-left: 47px;
        padding-top: 0px;

        & li {
          font-size: 16px;
        }
      }

      & .drop-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30%;
      }
      .btn-nav {
        width: 13px;
        height: 15px;
        color: black;
        text-decoration: none;
        font-size: 10px;
        background-color: #e52333;
        border-radius: 50%;
        padding: 5px;
        color: #d9d9d9;
        position: fixed;
        top: 101px;
        left: -12px;
        cursor: pointer;
      }
      .menu-items-name {
        @media (max-width: 768px) {
          font-size: 9px;
        }
      }
    }
    @media (max-width: 1024px) {
      padding: 4.5% 20px 11% 20px;
    }

    @media (max-width: 768px) {
      justify-content: center !important;
    }
  }
  @supports (position: sticky) {
    .is-sticky {
      position: sticky;
      top: 0; // Threshold is required
    }
  }
  & .menu-sec {
    width: 100%;
  }
  & .menu-items {
    width: 80%;
    padding-left: 39px;
    padding-right: 108px;
    padding-top: 4.5%;
    box-sizing: border-box;
    @media (max-width: 1024px) {
      padding-right: 39px;
    }
    @media (max-width: 768px) {
      padding: 0 15px;
    }

    & #employee_header {
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: flex-start;

      & p {
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    & .Dropdown-control {
      margin-top: 0px;
      & .placeholder-class {
        color: #979797;
        @media (max-width: 575px) {
          font-size: 12px;
        }
      }

      & .is-selected {
        color: #000000;
      }
    }
    & .header {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      //justify-content: space-between;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: 1px solid #dadada;
      &.header-category {
        justify-content: flex-start;
      }

      & div {
        display: flex;
        flex-direction: column;
        //height: 40px;
        justify-content: space-between;

        & p {
          margin: 0px;
        }
      }
      & div p:nth-child(1) {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        white-space: nowrap;
      }
      & div p:nth-child(2) {
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        white-space: nowrap;
        padding-top: 5px;
      }
      & .user-profile {
        margin-left: 82%;
        width: 50px;
        height: 50px;
      }
      .logo-container {
        display: none;

        @media (max-width: 575px) {
          display: flex;
          width: 184px;
          justify-self: flex-start;
          flex-direction: row;
        }
      }

      @media (max-width: 575px) {
        justify-content: space-between;
        margin-top: 32px;
      }
    }
    & .header-menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 25px;

      & .menu-items-SVG path {
        fill: #e52333 !important;
      }

      & div {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          text-align: center;
          font-size: 14px;
        }
        & h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #e52333;
          margin-left: 10px;
          white-space: nowrap;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }

      & > div {
        @media (max-width: 768px) {
          width: 100%;
          justify-content: space-evenly;
          margin-bottom: 24px;
        }

        @media (max-width: 575px) {
          justify-content: space-between;

          &.Dropdown-root {
            justify-content: center;
            width: 100%;
          }
        }
      }

      @media (max-width: 575px) {
        display: none;
      }
    }
    & .drop-list {
      width: 40%;
    }

    & .empty-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 83px;
      & img {
        width: 245.41px;
        height: 215px;
        object-fit: contain;
        margin-bottom: 62px;
      }
      & h3 {
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
      }
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  & .add-custom {
    margin-top: 20px;
  }
  & .create-menu {
    width: 100%;
    text-align: right;
    & button {
      cursor: pointer;
      border: 0;
      background: #00b71d;
      border-radius: 50%;
      color: #fff;
      padding: 7px 8px;
      & svg {
        font-size: 34px;
      }
    }
  }

  & .menu-list {
    width: 100%;
    display: table;
    & table {
      border-collapse: collapse;
      & thead {
        & th {
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          font-weight: normal;
          text-align: left;
          padding-bottom: 13px;
          border-bottom: 1px solid #c4c4c4;
          padding-left: 10px;
        }
      }

      & td {
        padding: 20px 0px;
        border-bottom: 1px solid #e5e5e5;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        position: relative;
        padding-left: 10px;
        & svg {
          cursor: pointer;
        }

        & ul {
          position: absolute;
          right: 20px;
          top: 24px;
          background: #fff;
          padding: 0;
          list-style-type: none;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          padding: 13px 17px 0px;
          z-index: 9999;
          box-sizing: border-box;

          & li {
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            color: #000000;
            margin-bottom: 17px;
          }
        }
      }
      & tr:nth-of-type(2n) {
        background: rgba(196, 196, 196, 0.4);
      }
      & .eye-icon {
        & img {
          width: 25px;
          height: 25px;
          object-fit: contain;
          cursor: pointer;
        }
      }
      & .item-type {
        & img {
          width: 11px;
          height: 11px;
          object-fit: contain;
          margin-right: 4px;
        }
      }
      & .custom {
        color: #0085ff;
        cursor: pointer;
      }
      & .edit-icon {
        padding-right: 10px;
        & svg {
          font-size: 20px;
          color: #0085ff;
          cursor: pointer;
        }
      }
      & .trash-icon {
        & svg {
          font-size: 20px;
          color: #000;
          opacity: 0.3;
          cursor: pointer;
        }
      }
      & .checkbox-label {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 26px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default checkbox */
      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      & .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #9a9a9a;
        box-sizing: border-box;
        border-radius: 2px;
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        background-color: #fff;
      }

      /* When the checkbox is checked, add a blue background */
      & input:checked ~ .checkmark {
        background-color: #2196f3;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      & input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      & .checkmark:after {
        left: 6px;
        top: 3px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
    & .add-button {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1%;
      border-radius: 50%;
      background-color: #e52333;
      border: 0px;
      bottom: calc(var(--wHeight) * 0.1);
      right: 4.5%;
      align-self: flex-end;
      cursor: pointer;
    }
    & .add-button:focus {
      outline: none;
    }
  }
  .logout-user {
    img {
      @media (max-width: 768px) {
        height: 15px;
      }
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .menu.is-sticky {
    @media (max-width: 575px) {
      display: none;
    }
  }
}

iframe {
  width: 100%;
  overflow: scroll;
}

.menuClassName {
  display: flex;
  flex-direction: column;
}

.add-employee-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.add-employee-text-input {
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-employee-dropdown-arrow {
  margin-top: 5px;
}

.report-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 400px;
  margin-top: 25px;

  @media (max-width: 1200px) {
    width: 300px;
  }

  @media (max-width: 1024px) {
    width: 200px;
  }

  @media (max-width: 768px) {
    width: 300px;
  }

  @media (max-width: 575px) {
    width: 80%;
  }
}

.report-dropdown-arrow {
  margin-top: 5px;
}

.MenuClass {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 300px;
  }
  @media (max-width: 575px) {
    width: 80%;
  }

  & div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.error-msg {
  color: red;
  margin: 0px;
  position: absolute;
  margin-top: -23px;
}

.Dropdown-control .report-dropdown {
  margin-bottom: 0px !important;
  & .placeholder-class {
    color: #979797;
  }

  & .is-selected {
    color: #000000;
  }
}

.tab {
  margin-left: 3rem !important;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.selected {
  border-bottom: 3px solid #e52333;
  color: #e52333;
}

.unselected {
  border-bottom: 3px solid #fff;
  color: rgba(0, 0, 0, 0.5);
}

.logo-container {
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: -3vh;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.restaurant-logo {
  width: 60px;
  height: 60px;
  padding-top: 1rem;
}

.restaurant-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  text-align: start;

  @media (max-width: 575px) {
    text-align: left;
  }
}

.branch-dropdown {
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  margin-left: -4px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 120px;
  @media (max-width: 575px) {
    max-width: 115px;
  }
}

.restaurant-name-container {
  padding-left: 1rem;
  line-height: 1em;
  @media (max-width: 1024px) {
    padding-left: 0;
  }

  & > div {
    @media (max-width: 1224px) {
      text-align: start;
      margin-top: 8px;
    }
  }
}

.report-checkin-dropDown {
  @media (max-width: 575px) {
    display: none;
  }
}

.reportData-mobile {
  margin-top: 25px;
  display: none;

  @media (max-width: 575px) {
    display: flex;
  }
}

.reportData-desktop {
  display: flex;

  @media (max-width: 575px) {
    display: none;
  }
}

.magilhub-bottom-logo {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 5%;
  width: "100%";
  align-items: flex-end;
  justify-content: center;
  // align-self: center;
  // align-items: center;
}

.magilhub-logo1 {
  font-family: Righteous;
  font-weight: normal;
  color: #e52333;
  font-size: 20px;
  // margin-left: 1rem;
  // padding-left: 50px;
}

.powered-text1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  margin-right: 8px;
}

.merchant-footer-logo-container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* margin-bottom: 1%; */
  margin-top: 1%;
  background-color: transparent;
  margin-right: 2%;
}

.headLine2 {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  margin-top: -30px;
  padding-top: 20px;
  z-index: 999;
  // style={{
  //   position: 'fixed',
  //   marginBottom:'40px',
  //   width: '100%',
  //   zIndex: '1000',
  //   backgroundColor: '#fff',
  //   height:'100px',
  //   fontSize: '24px',
  //  lineHeight: '36px'
  //  }}
}

.branch-dropdown:disabled {
  appearance: none; /* Hide the default dropdown arrow */
  -moz-appearance: none; /* For Firefox */
  -webkit-appearance: none; /* For Safari and Chrome */
  // background-color: #e0e0e0; /* Optional: Gray out the background for disabled look */
}

.branch-dropdown:disabled::-ms-expand {
  display: none; /* Hide the arrow for Internet Explorer */
}

.btn-nav {
  width: 12px;
  height: 15px;
  color: black;
  text-decoration: none;
  font-size: 10px;
  background-color: #e52333;
  border-radius: 50%;
  padding: 5px;
  color: #d9d9d9;
  position: fixed;
  top: 101px;
  margin-left: -12px;
  cursor: pointer;
}

.btn-nav1 {
  width: 12px;
  height: 15px;
  color: black;
  text-decoration: none;
  font-size: 10px;
  background-color: #e52333;
  border-radius: 50%;
  padding: 5px;
  color: #d9d9d9;
  position: fixed;
  top: 101px;
  margin-left: -12px;
  cursor: pointer;
  transform: rotate(180deg);
}

.menuList {
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 1080px) {
  .menu-items-name {
    font-size: 13px;
  }

  .main-section .menu.expanded {
    width: 23%;
  }

  .main-section {
    .down {
      margin-left: 10px;
    }
    .menuList {
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .main-section .expanded .drop-down {
    margin-left: -10px;
  }
  .expanded .active {
    margin-left: -10px;
  }
}

@media (max-width: 900px) {
  .menu-items-name {
    display: none;
  }
  .main-section .menu.expanded .menu-items-SVG {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
  .magilhub-bottom-logo {
    display: none;
  }
}

@media (max-width: 575px) {
  .btn-nav {
    display: none;
  }
  .btn-nav1 {
    display: none;
  }
}

.menu-items-name {
  // padding-top: 2rem;
}

.menu-items-sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2.3rem !important;
}
.activePath {
  display: flex;
  gap: 1rem;
}

.not-active {
  display: flex;
  gap: 1rem;
}
.menu-items-icon {
  width: 24px;
  height: 20px;
  cursor: pointer;
}
.menu-items-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
.not-active .menu-items-name {
  color: #000000 !important;
}
.activePath .menu-items-name {
  color: #e52333 !important;
}

.not-active .menu-items-icon path {
  fill: #000000 !important;
}
.activePath .menu-items-icon path {
  fill: #e52333 !important;
}
.offers-nav-list {
  margin: 0;
  padding: 0;
  height: auto !important;
  width: 90%;
  position: relative;
}

.menu-items-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.menuList-offers-sub-category {
  padding: 0;
  margin: 0;
  width: 4rem;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  white-space: normal; /* Allows wrapping of text */
  word-break: break-word; /* Breaks words when they're too long */
  display: inline-block;
  flex-wrap: wrap;
}

.reports-categories {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logOutBtn {
  display: flex;
  gap: 15px;
}

.sidebar-container {
  padding: 18x;
  width: 280px;
  border-right: 1px solid #eeeeee;
}
.sidebar-header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;

  .restaurant-name {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    color: #000000;
  }
  .restaurant-location {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    // line-height: 24px;
    color: #000000;
  }
}
.restaurant-logo {
  margin-right: 35px;
  img {
    width: 100px;
  }
}

.report-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.category-filters-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0px 40px 0px;
}
.category-dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 23vw;
}
.category-dropdown-text {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  color: #8d8d8d;
}
.category-dropdown {
  width: 100%;
  .Dropdown-control {
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  .Dropdown-placeholder {
    font-weight: 500;
    font-size: 14px;
    font-family: "Poppins";
  }
  .Dropdown-menu{
    border-radius: 5px;
  }
  .Dropdown-option {
    color: #595959;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    &.is-selected{
      background-color: #FFFFFF;
    }
  }
  .Dropdown-option:hover {
    background-color: #F5F5F5;
  }
  .Dropdown-arrow {
    width: 10px;
    height: 10px;
    background-image: url("../assets//images/dropdown.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px; /* Hides any existing text inside the span */
    border: none;
  }
}
.category-dropdown-sub-container {
  width: 50%;
}
.category-btn-switch {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 28%;
  min-width: 300px;
  background-color: #eeeeee;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 32px;
  .category-btn {
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins";
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
  }
  .active-btn {
    background-color: #ffffff;
    font-weight: 500;
    margin-bottom: 2px;
  }
}

// .select-food-item-dropdown {
//   width: 50%;
//   .Dropdown-control {
//     border: 1px solid #e0e0e0;
//     background-color: #ffffff;
//     border-radius: 5px;
//   }
//   .Dropdown-placeholder {
//     font-weight: 400;
//     font-size: 16px;
//     font-family: "Poppins";
//     color: #a8a8a8 !important;
//   }

//   .Dropdown-arrow {
//     width: 12px;
//     height: 10px;
//     background-image: url("../assets//images/dropdown.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     text-indent: -9999px; /* Hides any existing text inside the span */
//     border: none;
//   }
// }
.select-food-item-dropdown {
  width: 50%;
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  .menu-open {
    .css-6q0nyr-Svg {
      transform: rotate(180deg);
    }
  }
  .css-4ljt47-MenuList {
    padding: 5px;
  }
  .select-food-item-dropdown-prefix__control:hover {
    border-color: #e0e0e0;
  }
  .select-food-item-dropdown-prefix__control {
    border-color: #e0e0e0;
    box-shadow: none;
  }
  .select-food-item-dropdown-prefix__option--is-focused {
    background-color: #f5f5f5;
    color: #393939 !important;
  }
  .select-food-item-dropdown-prefix__input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: #6f6f6f;
  }
  .select-food-item-dropdown-prefix__option {
    border-bottom: 1px solid #fafafa;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    color: #595959;
  }
}
.select-categories-title-container {
  margin: 15px 0px 16px 0px;
}
.select-food-item-dropdown {
  margin: 16px 0px 16px 0px;
}
.poppins-fw400-fs16 {
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins";
}
.font-color-red {
  color: #fb2c36;
}
.selected-categories-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px; /* space between elements */
  margin-top: 10px;
  .selected-categories-text {
    font-family: "Poppins";
    font-weight: 500px;
    font-size: 16px;
    color: #6f6f6f;
  }
}
.category-rounded-pill-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  // margin-left: 10px;
  background-color: #fafafa;
  .category-pill-text {
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins";
    color: #595959;
    padding-left: 8px;
    flex-basis: 100%;
    margin-bottom: 8px;
  }
  .category-pill-close {
    padding: 0px 8px;
  }
  .category-pill-close:hover {
    cursor: pointer;
  }
}
.categories-overview-heading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  margin-top: 45px;
  margin-bottom: 24px;
}
.categories-overview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.categories-overview-card-container {
  display: flex;
  flex: 0 0 calc(25% - 20px);
  flex-direction: column;
}
.categories-overview-card {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  .categories-overview-card-title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    color: #6f6f6f;
  }
  .categories-overview-card-data {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
