.menu-details{
  margin-top: 30px;
  margin-left: 30px;

  & h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
    color: #000;
    display: flex;
    align-items: center;
  }
  .title {
    cursor: pointer;
    & svg {
      color: #000;
      font-size: 30px;
      margin-right: 20px;
    }
  }

  h3{
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 400;
  }

  .flexContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .inputBox{
    width: 813px;
    height: 50px;
  }

  .dateInput {
    height: 50px;
  }

  .checkBox{
    display: flex;
    gap: 10px;
    color: #979191;

    input{
      width: 15px;
    }

    p{
      font-size: 14px;
    }
  }

  .flexContainer input{
    width: 400px;
  }
  
  .placeholder-no-border {
    border: none;
  }

  .acess-flex{
    width: 813px;
  }
  
  .selectContainer{
    width: 400px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
  
    img{
      width: 20px;
    }
  
    .selectOutlet{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      color: rgba(51, 51, 51, 0.8);
      font-size: 14px;
    }
  
    .outletDropDown{
      color: rgba(51, 51, 51, 0.8);
      width: 390px;
      position: absolute;
      background-color: white;
      border: 1px solid #ccc;
      z-index: 999;
      border-radius: 4px;
      padding: 5px;
      margin-top: -2px;
    }
  }

  .pinInput{
    width: 200px;
    border-radius: 100px;
  }

  .btn{
    margin-top: 45px;
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    margin-left: 200px;

  .clear-all-btn{
    background-color: #fff;
    color: #67833E;
    width: 130px;
    border-color: #67833E;
    cursor: pointer;
    font-weight: 600;
  }
  .save-btn{
    background-color: #67833E;
    color: #fff;
    width: 130px;
    cursor: pointer;
    font-weight: 600;
  }
  } 
}

