.toggleBtn {

    background-color: #979797;
    width: 18.8px;
    height: 1.125rem;
    border-radius: 6.188rem;
    border: 0.063rem solid #979797;
    box-shadow: 0.063rem 0.063rem 0.063rem rgba(0, 0, 0, 0.749);
    position: relative;
    cursor: pointer;
    padding: 0;
    outline: none;
    display: flex;
    align-items: center;
    top:2px;
    left: -10px;
    width: 30px;
height: 13.26px;

border-radius: 6.63px ;
opacity: 0px;

  }
  
  .thumb {
    border-radius: 8.188rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    position: absolute;
    left: -3px;
    transition: left 0.2s;
    box-shadow: 0px 0px 1.77px 0px #0000001A inset;
    border: 0.5px solid #0000001A ;



  }
  
  .toggleBtn.Toggled {
    background-color: #779749
    ;
    border-color: #779749

  }
  
  .toggleBtn.Toggled .thumb {
    left: calc(100% - 13px);
  }
  