.employeeDetails {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headLine {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.headLine h3 {
    margin-left: 10px;
}

.headLine img {
    width: 35px;
    cursor: pointer;
}

.dropDown {
    border: 1px solid black;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    right: 50px;
    top: 55px;
    z-index: 999;
    background-color: white;
}

.actionTab {
    display: flex;
    cursor: pointer;
}

.actionTab img {
    width: 25px;
    margin-right: 10px;
}

.detailContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    width: 100%;
    justify-content: flex-start;
}

.title {
    display: flex;
    font-size: 14px;
    width: fit-content;
}

.tag {
    color: #67833E;
    margin-left: 10px;
    width: 130px;
}

.value {
    margin-left: 50px;
    margin-right: 20px;
    /* width: 200px; */
    /* margin-right: 10px; */
}

.rolesContainer {
    border: 1px solid #67833E;
    padding: 20px 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;  
    height: 300px;
    overflow: auto;
}

.rolesContainer h4 {
    color: black;
    margin-bottom: 30px;
    font-weight: 600;
}

.roles {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    text-align: left;
    flex-wrap: wrap;
}

.rolesHeading {
    font-size: 14px;
}

.backBtn {
    width: 120px;
    height: 40px;
    margin-bottom: 50px;
    border: none;
    color: white;
    font-style: 13px;
    font-weight: 600;
    background-color: #67833E;
    border-radius: 4px;
    cursor: pointer; 
    margin-left: 890px;
}

