.main-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0;
    // margin-top: 30px;
    margin-bottom: 1rem;

    // .main-menu-icon{
    //     margin-right: 1rem;

    // }
    .main-header {
        line-height: 32px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: -0.4px;
        color: #393939;
    }
    .main-header-btn-container{
      display: flex;
      flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    .main-header-btn{
        background-color: #E52333;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.27px;
        cursor: pointer;
    }
  }
    
    // @media (min-width: 576px) {
    //     .main-menu-icon {
    //       display: none;
    //     }
    //   }
}