.AvailabilityChangesUntilContainer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000; /* Ensure it appears above other content */
    width:416px;
    height: 900px;
}
 
.Availability_Changes_Until_SubContainer{
      margin-top: -140px;
background-color: white;
width: 322px;
height: 322px;
display: flex;
 /* Center the content inside the modal */
border-radius: 8px; /* Optional: add rounded corners */
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
 
}
 
.Avail_Changes_Form{
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 322px;
    margin-left: 20px;
    padding: 20px  10px 20px;
 
   
 
}
 
.Avail_Changes_Heading{
    width: 259px;
    height: 30px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 19px;
        line-height: 20px;
        padding-top: 2px;
}
 
.Avail_Changes_Radio_container{
    width: 262px;
    height: 42px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
 
}
 
.Avail_Changes_Radio_container_Justify{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
 
 
}
 
.Avail_Changes_Radio_Text{
    width: 600%;
    height: 21px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#686868 ;
}
.AvaiilRadio{
    accent-color:rgb(73, 121, 70);
   
 
}
 
.Avail_Button_Flex{
    width: 262px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}
 
.Avail-btn1-Cancel{
    width: 150px;
    height:  40px;
    color: #6C6C6C;
    border:  0.5px solid #929292;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 
}
 
.Avail-btn1-Save{
    width: 150px;
    height:  40px;
    color: white;
    border:  0.5px solid #67833E;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67833E;
    cursor: pointer;
 
}
 