.EyeModal-Container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the modal vertically */
    z-index: 1000; /* Ensure it appears above other content */
    width:416px;
    height: 848px;
    overflow-y: auto;
    
}

.EyeModal-Window {
    margin-top: -140px;
    background-color: white;
    width: 322px;
    height: 377px;
    display: flex;
    justify-content: start;
    align-items: start; /* Center the content inside the modal */
    border-radius: 8px; /* Optional: add rounded corners */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    max-height: 80vh; /* Restrict modal height */
    overflow-y: scroll; /* Enable scrollbar when content overflows */
}

.EyeModal-Form {
    display: flex;
    flex-direction: column;
    align-items: start; /* Center items horizontally */
    justify-content: start; /* Center items vertically */
    text-align: center; /* Center the text */
}

.HideItemHeading-SelectAll-Container{
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding:20px 0px 0px 20px ;
}

.HideItemHeading{
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.Select-all-heading{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #67833E;
    text-decoration: underline;
    position: relative;
    top: 3px;
    left: -60px;
    cursor: pointer;
}

.Radio-items-container{
    width: 320px;
    display: flex;
 
    padding:20px 0px 0px 20px ;
    flex-direction: column;
    max-height: 210px; /* Limit height for the items container */
    overflow-y: scroll; 
  

}

.Radio-Items-Heading{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

}

.Radio-Items-Flex{
    width: 261px;
    display: flex;
    justify-content: space-between;
}
.checkbox-Items{
    width: 20px;
    height: 20px;
    accent-color: #67833E;
    transform: translateY(10px);
}

.Radio-sub-Items-Flex{
    width: 242px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
   

}

.Radio-sub-Items-Heading{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #5F5F5F;
}

.saveCancelContainer{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 20px;
}
.SavebtnEye{
    width: 120px;
    height: 40px;
    background-color: #67833E;
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
}
.cancelbtnEye{
    width: 120px;
    height: 40px;
    background-color: white;
    color: #67833E;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid #929292;
}