.offer-creationpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  &::-webkit-scrollbar {
    display: none;
  }
}

.offer-creationpage1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  &::-webkit-scrollbar {
    display: none;
  }
}

.offer-primary-part1 {
  width: 50rem;
  margin-top: 1%;
  margin-left: 10px;

  .offerPrimaryRow1{
    display: flex;
    flex-direction: row;
    height: 72px;
  }

  .offerPrimaryRow2{
    display: flex;
    flex-direction: row;
  }
}


.offer-creationpage {
  display: flex;
  flex-direction: row;
  &::-webkit-scrollbar {
    display: none;
  }
}

.offer-creationpage-container {
  position: relative;
  width: 124%;
}

.offer-creationpage-container1 {
  position: relative;
  width: 90%;
}

.specialprice-container1 {
  height: 80vh;
  overflow-y: auto;
  margin-left: 1.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
}

.specialprice-container {
  height: 80vh;
  overflow-y: auto;
  margin-left: 1.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
}


.items-details {
  // border: 1px solid red;
}
.category-details {
  display: flex;
}

.list-of-offeritems {
  width: 60rem;
  height: auto;

  margin-top: 4rem;
  table,
  tr,
  th,
  td,
  tbody {
    border: none;
    margin: 0;
    padding: 0;
  }
}
.offer-table-heading {
  // border: 1px solid red !important;
  text-align: left;
  padding: 10px !important;
  font-family: "Poppins", sans-serif;
  font-size: 17.33px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.offer-table-data {
  // border: 1px solid red !important;
  text-align: left;
  padding: 5px !important;
  padding-left: 10px !important;
  font-family: "Poppins", sans-serif;
  font-size: 17.33px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.bin-image {
  text-align: center;
}
.deletebinImage {
  margin-left: -2.5rem !important;
}
.offeritems-listed {
  border: none !important;
}
.effectiveperiod {
  width: 60rem;
  // height: 272px;
  // border: 1px solid red;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  .Time-heading {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7f7f7f;
  }
}
.time-format {
  padding-top: 1.2%;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  .fromTime,
  .toTime {
    width: 173.56px;
    height: 44px;
    gap: 0px;
    border-radius: 5px;
    border: 1px solid #000000;
    opacity: 0.3px;
  }
}
.select-offerfooditems {
  position: relative;
  margin-top: 3%;
}
.specialoffer-heading {
  width: 120%;
  height: 5rem;
  border-bottom: 1px solid #979797;

  margin-left: -1%;

  h1 {
    padding-left: 30px;
    padding-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #67833e;
  }
}
.offer-primary-details {
  margin-left: 10px;
  h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.specialType-details {
  position: relative;
  min-height: 5rem;
  margin-left: 20px;
  .type-dropdown {
    margin-bottom: 1.5%;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 1%;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .valuebasedon {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #81847f;
  }
}

.items-details {
  margin-top: 20px;
  margin-left: 10px;
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 1%;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.time-selector {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  width: 180px;

  &__input {
    flex: 1;
    //   padding: 8px 12px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #888;

    background-color: #fff;

    &::placeholder {
      color: #bbb;
    }
  }
  .time-selector__button_fromtime {
    padding: 8px 8px;
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 44px;
    background-color: #e0e0e0;
    color: #979797;
    transition: background-color 0.3s, color 0.3s;
    &.selected {
      background-color: #6b8e23;
      color: #fff;
    }

    &:not(.selected):hover {
      background-color: #dcdcdc;
    }

    &:first-child {
      border-left: 1px solid #ccc;
    }
  }

  &__button {
    padding: 8px 8px;
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 44px;
    background-color: #e0e0e0;
    color: #979797;
    transition: background-color 0.3s, color 0.3s;

    &.selected {
      background-color: #6b8e23;
      color: #fff;
    }

    &:not(.selected):hover {
      background-color: #dcdcdc;
    }

    &:first-child {
      border-left: 1px solid #ccc;
    }
  }
}

.toggle-icon-data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.3rem;
}
.Date-available {
  margin-top: -2%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;

  h3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7f7f7f;
  }
}
.seraching-for-items {
  display: flex;
  align-items: center;
}
.selectedFooditems {
  width: 41vw;
  height: 45px;
  border: 1px solid #979797;
  .selectedFooditems-input {
    border-radius: 5px;
  }
}
.dropdownimage {
  width: 16px;
  height: 16px;
  margin-left: -2rem;
  opacity: 0.5;
}

.searched-items-listed {
  position: absolute;
  background-color: white;
  z-index: 9;
  width: 41vw;
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 8px 10px 2px #00000040;
  // border: 1px solid red;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 10px;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #979797;
  }

  .listing-selected-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    // margin-left: -1rem;
  }
  .selectedlist {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .highlighted {
    width: 30rem;
    background-image: linear-gradient(to left, #d9d9d9 99%, #67833e 2%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.saveandcancel-btn-offer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  // height: 30px;
  box-shadow: 0px -4px 4px 0px #0000001a;
  margin-bottom: 20px;
  margin-left: -10px;
  .cancel-btn {
    position: absolute;
    right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 4px;
    border-color: #6b8e23 !important;
    border-width: 1px;
    background-color: white;
    color: #6b8e23;
    font-weight: 500;
    font-size: 14px;
  }

  .save-btn {
    position: absolute;
    right: 4%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #67833e;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 14px;
  }
}

.saveandcancel-btn-offer1 {
  position: relative;
  width: 100%;
  bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  // height: 30px;
  box-shadow: 0px -4px 4px 0px #0000001a;
  margin-bottom: 20px;

  .cancel-btn {
    position: absolute;
    right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 4px;
    border-color: #6b8e23 !important;
    border-width: 1px;
    background-color: white;
    color: #6b8e23;
    font-weight: 500;
    font-size: 14px;
  }

  .save-btn {
    position: absolute;
    right: 4%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #67833e;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 14px;
  }
}

// .offerdate-select {
//   display: flex;
//   margin-bottom: 2%;
//   gap: 1rem;
//   align-items: center;
  
//   .calender-img-offer,
//   .calender-img1-offer {
//     position: relative;
//     left: -1.5rem;
//   }
// }

// .offerdatePicker,
// .offerdatePicker-special {
//   width: 120px;
//   padding-right: 1rem;
//   height: 44px;
// }

// .offerdatePicker {
//   margin-left: 1rem;
// }

.offerdate-select{
  // position: fixed;
  display: flex;
  gap: 30px;

  .offer-from-date, .offer-to-date{
    display: flex;

    img{
      position: relative;
      width: 20px;
      height: 20px;
      margin-left: -23px;
      margin-top: 10px;
    }
  }

  .calender-img-offer{
    // position: relative;
    // margin-left: -20px;
  }
  .calender-img1-offer{
    // position: relative;
    // margin-left: -20px;
  }
}
