    .report-sales-employee-container{
        display: flex;
        flex-direction: column;
        gap: 6vh;
        // background-color: pink;
        .employee-report-sales-overview-box-container-parent{
            display: flex;
            flex-direction: column;
            gap: 1vh;
            // background-color: lightseagreen;
            .employee-sales-overview-head-with-download{
                // background-color: pink;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    font-weight: 500;
                    font-size: 20px;
                    // background-color: pink;
                }
            }
            .select-employee-container{
                display: flex;
                justify-content: space-between;
                gap: 1vw;
                // background-color: lightcoral;
                width: 25vw;
                // background-color: peachpuff;
                @media(max-width: 600px){
                    // background-color: lightcoral;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    // padding-top: 2vh;
                    padding-bottom: 2vh;
                    gap: 0;
                }
                p{
                    // background-color: palegreen;
                    width: 12vw;
                    display: inline-block;
                    color: #6F6F6F;
                    font-weight: 400;
                    @media(max-width: 600px){
                        width: 100%;
                    }
                }
                .select-employee-dropdown{
                    width: 15vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: lightpink;
                    @media(max-width: 600px){
                        width: 100%;
                    }
                }
            }
            .employee-report-sales-overview-box-container {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                width: 100%;
                // max-width: 1200px;
            
                > * {
                    flex: 1 1 calc(25% - 16px); // 4 columns
                    max-width: calc(25% - 16px); 
                }
            
                @media (max-width: 1024px) {
                    > * {
                        flex: 1 1 calc(50% - 16px); // 2 columns
                        max-width: calc(50% - 16px);
                    }
                }
            
                @media (max-width: 600px) {
                    > * {
                        flex: 1 1 calc(50% - 16px); // 2 columns
                        max-width: calc(50% - 16px);
                    }
                }
            }
                        
        }
    }