#not-found-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 10%;
  padding-left: 42.5%;
}

#not-found-container span {
  font-family: "Poppins";
  opacity: 0.6;
}
