* {
  font-family: "Poppins", sans-serif;
}

.dropdown-containerPricing {
  position: relative;
  width: 300px;
  height: 44px;
  margin-left: 30px;
}


.dropdownPricingList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 24px;
  margin-left: -2rem;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // border: 1px solid red;
  z-index: 0;
  .valuePlaceholder {
    color: #979797;
    font-size: smaller;
  }
}

.dropdownPricingred {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  // border: 1px solid red;
  cursor: pointer;
  width: 200px;
  height: 44px;
  border-radius: 5px;
}

.optionsPricing {
  position: absolute;
  left: -2rem;
  width: 320px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 10px 0px #00000040;
  z-index: 25;
  max-height: 125px;
  overflow-y: auto;
  
&::-webkit-scrollbar {
  display: none;
}
}

.optionsPricing label {
  margin-top: -2px;
  display: block;
  padding: 10px;
  color: #979797;
  font-size: 14px;
  z-index: 10;
}

.optionsPricing input[type="checkbox"] {
  margin-right: 8px;
  z-index: 10;
}

.addbtnPricing {
  padding: 10px;
}

.add-item-btn,
.btn-add-item {
  padding: 5px 10px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-item-btn:hover,
.btn-add-item:hover {
  background-color: #0056b3;
}

.checkboxPricing {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
  accent-color: #779749;
  margin-left: 10px;
}

.valuePricing {
  font-size: 14px;
  font-weight: 400;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrowdropPricing {
  width: 16px;
  z-index: 0;
  height: 8.67px;
  opacity: 30%;
  position: absolute; /* Fixes the arrow position */
  right: 10px; /* Always positions the arrow on the right */
}

.arrowrotatePricing {
  z-index: 0;
  width: 16px;
  height: 8.67px;
  transform: rotate(180deg);
  opacity: 30%;
  position: absolute;
  right: 10px;
}

.droplabelPricing {
  font-weight: 400;
  color: #666666;  
  font-size: 14px;
  
  margin-left: -1.8rem;
  margin-bottom: 0.3rem;
  // border: 1px solid red;
  z-index: 30;
}
.No-Option-Availble-dropdown {
  width: 300px;
  height: 120px;
  // border: 1px solid red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #779749;
}
