.dough-chart-container {
    width: 100%;
    max-width: 550px;
    height: 450px;
    position: relative;
    overflow: visible;
    padding: 20px 5px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    @media(max-width: 600px){
        // width: 100%;
        // background-color: pink;
        max-width: 358px;
    }
  }