.sales-overview-container{
    // background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 5vh;
    padding-top: 6vh;
    width: 94%;
    padding-left: 2vw;
    gap: 4vh;

    &.sales-overview-container-expanded { 
        width: 80%;
        // background-color: palegreen;
    }
}


::-webkit-scrollbar{
    display: none;
}