.sales-overview-container{
    // background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 5vh;
    padding-top: 6vh;
    width: 94%;
    padding-left: 2vw;
    gap: 4vh;

    &.sales-overview-container-expanded { 
        width: 80%;
        // background-color: palegreen;
    }
}

.reports-tendor-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    .tender-type-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
    .left-section, .right-section {
        flex: 1;
        // padding: 1.5rem;
        background-color: #fff;
        border-radius: 8px;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .tender-type-sub-heading {
            font-size: 20px;
            font-weight: 500;
            margin: 1rem 0rem;
            color: #8D8D8D;
        }
    }
}

::-webkit-scrollbar{
    display: none;
}