:root {
  --navbar-bg: #e0e0e0;
  --navbar-text: #333333;
  --table-bg: #ffffff;
  --table-text: #333333;
  --chart-bg: #ffffff;
  --screen-bg: #404d66;
  --cchart-bg: #ffffff; /* Default light theme color */
  --cchart-border: #000000;
}

.p-dark-theme {
  --navbar-bg: #222b3c;
  --navbar-text: #6e7d7d;
  --table-bg: #222b3c;
  --table-text: #ffffff;
  --chart-bg: #222b3c;
  --screen-bg: #2e3a4f;
  --cchart-bg: #222b3c;
  --cchart-border: #ffffff;
}

.p-light-theme {
  --navbar-bg: #e0e0e0;
  --navbar-text: #333333;
  --table-bg: #ffffff;
  --table-text: #333333;
  --chart-bg: #ffffff;
  --screen-bg: #ffffff;
  --cchart-bg: #ffffff;
  --cchart-border: #000000;
}

.p-product-insights-container {
  background-color: var(--screen-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
  width: 85%;

  .p-prod-insights-head {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 95%;

    .p-name-board {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--table-text);
    }

    .p-dates {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      height: 6rem;

      .p-label-time-period {
        font-weight: 600;
        color: var(--table-text);
      }

      .p-filter-toggle-btn-container {
        position: relative; // Relative to contain the absolute dropdown
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;

        .p-filter-toggle-btn {
          text-align: center;
          padding: 0.5rem;
          width: 10rem;
          height: 2rem;
          color: #000;
          background-color: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          border-radius: 0.8rem;
          cursor: pointer;
        }

        .p-filter-drop-down-options {
          position: absolute; // Absolute to overlay other elements
          top: 110%; // Positions dropdown just below the button
          left: 50%;
          transform: translateX(-50%);
          width: 12rem; // Adjusted for better fit
          padding: 0.5rem;
          background-color: var(--navbar-bg);
          color: var(--navbar-text);
          border: 1px solid #ccc;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          z-index: 999;
          border-radius: 1rem;

          p {
            margin: 0;
            padding: 0.5rem;
            cursor: pointer;
            border-radius: 0.6rem;
            &:hover {
              background-color: var(--navbar-text);
              color: var(--navbar-bg);
            }
          }
        }
      }

      .p-date-range-style {
        display: flex;
        gap: 2rem;

        .p-start-date {
          height: 2rem;
          width: 7rem;
          padding: 0.5rem;
          border-radius: 1rem;
          border-style: thin;
        }

        .p-end-date {
          height: 2rem;
          width: 7rem;
          padding: 0.5rem;
          border-radius: 1rem;
          border-style: thin;
        }
      }
    }
  }

  .p-location-name {
    h1 {
      color: var(--table-text);
      text-align: center;
    }
  }

  .p-top-twenty-popular-items {
    border-radius: 1rem;
    width: 69%;
    height: 33rem;
  }

  .p-least-twenty-popular-items {
    border-radius: 1rem;
    width: 69%;
    height: 33rem;
  }

  .p-top-ten-voided-items {
    border-radius: 1rem;
    width: 69%;
    height: 33rem;
  }

  .p-top-cancelled-items {
    border-radius: 1rem;
    width: 69%;
    height: 33rem;
  }

  .p-product-summary-dropdown-cont {
    width: 70vw;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    p {
      font-weight: 600;
      color: var(--table-text);
    }

    .p-filter-toggle-btn-container {
      position: relative; // Relative to contain the absolute dropdown
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;

      .p-filter-toggle-btn {
        text-align: center;
        padding: 0.5rem;
        width: 10rem;
        color: #000;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        border-radius: 0.8rem;
        cursor: pointer;
        height: 2rem;
      }

      .p-filter-drop-down-options {
        position: absolute; // Absolute to overlay other elements
        top: 110%; // Positions dropdown just below the button
        left: 50%;
        transform: translateX(-50%);
        width: 12rem; // Adjusted for better fit
        padding: 0.5rem;
        background-color: var(--navbar-bg);
        color: var(--navbar-text);
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        z-index: 999;
        border-radius: 1rem;

        p {
          margin: 0;
          padding: 0.5rem;
          cursor: pointer;
          border-radius: 0.6rem;
          &:hover {
            background-color: var(--navbar-text);
            color: var(--navbar-bg);
          }
        }
      }
    }
  }
}
