.report-product-availability{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    // background-color: pink;
    .report-product-charts-container{
        display: flex;
        flex-direction: column;
        gap: 3vh;
        .report-product-heading-download-container{
            display: flex;
            justify-content: space-between;
            .report-product-chart-heading{
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.35px;
                font-weight: 500;
                color: #393939;
            }
        }
    }
}