.product-insights-flex{
    display: flex;
    flex-direction: row;
    .report-product-insights{
        display: flex;
        flex-direction: column;
        gap: 6vh;
        background-color: pink;
    }
}