.Slider-Container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    display: flex;
    justify-content: flex-end;
    transition: 0.3s ease-out;
    z-index: 1000; /* Ensure it appears above other content */
  }
  .Slider-Window{
    // margin-top: 90px;
    width:416px;
    height: 848px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    
   
    
  }
  .Slider-WindowBlur{
    width:416px;
    height: 908px;
    background: rgba(0, 0, 0, 0.1); 
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    z-index: 1200;
    
  }
  

  .Slider-Mainform{
  
  
margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .Slider-First-Row{
    
    display: flex;
    justify-content: space-between;
    gap: 10px;

    
  }
  .Slider-Heading1{
    
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    margin-left: 20px;
  }
  .Slider-icons{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
  }
  .PenImage{
    width: 20px;
    height: 20px;
    transform: translateY(3px);
  }
  .PenImage-Section{
    position: relative;
    cursor: pointer;
  }
  .PenTool{
    position: absolute;
    visibility: hidden;
    top: 11px;
    right: 0px;
    width: 59px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  }
  .PenTool-box{
    width: 57px;
    height: 33px;
    border-radius: 8px;
    padding: 4px;
    background-color: rgba(103, 131, 62, 1);
    color: white;

  }
  .PenImage-Section:hover .PenTool {
    visibility: visible;
    opacity: 1;
}
.ArrowHoverPen{

  width: 10px;
  height: 10px;
  transform: translateY(4px);
}
  .BinImageSection {
    position: relative;
    cursor: pointer;
    
}

.BinImage {
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    
}

.DelTool {
    position: absolute;
    visibility: hidden;
    top: 11px;
    right: 0;
    width: 59px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.DelTool-box {
    width: 57px;
    height: 33px;
    border-radius: 8px;
    padding: 4px;
    background-color: rgba(103, 131, 62, 1);
    color: white;
}

.ArrowHoverDel {

    width: 10px;
    height: 10px;
}

.BinImageSection:hover .DelTool {
    visibility: visible;
    opacity: 1;
}
.ImageSliderContainer{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.ImageSliderContainerHeading{
  text-align: center;
  font-size: 24px;
  color: rgba(103, 131, 62, 1);
  font-weight: 500;
}
.ImageType{
  margin-top: 10px;
  width:420.01px;
  height:1px;
  border:1px solid rgba(217, 217, 217, 1)
}
.ImageSliderMain{
  height: 400px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}
.SliderImageMain{
  margin-left: 65px;
}
.FileDivContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add space between items */
}
.TypeImageDiv{
  border:1px solid rgba(217, 217, 217, 1);
  width: 420.01px;
}