* {
  font-family: "Poppins", sans-serif;
}

.Main-Primary-Page {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.Main-Primary-Page-Expanded {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.Primary-page {
  position: relative;
  top: 7vh;
  width: 110%;
  height: 32rem;
  overflow-y: auto;
  left: 1rem;
  // border: 2px solid pink;

  &::-webkit-scrollbar {
    display: none;
  }

  // @media (min-width: 1700px) and (max-width: 1800px) {
  //   height: 35rem;
  //   border: 1px solid blue;

  // }
  @media (max-width: 1791px) {
    height: 32rem;
    width: 100%;
    border: 2px solid gold;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  @media (max-width: 1525px) {
    height: 27.5rem;
    border: 1px solid red;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ToolKitchen {
    // transform: translateY(20px);
    // border: 1px solid darkred;
    opacity: 40%;
    border: none;
    outline: none;
    @media (min-width: 1700px) and (max-width: 1706.67px) {
      // border: 1px solid darkred;
    }
  }
  .Tool-tax-class {
    transform: translateY(22px);
    opacity: 40%;
    border: none;
    outline: none;

    @media (min-width: 1599px) and (max-width: 1600px) {
      transform: translate(28px, 20px);
      // border: 1px solid darkslategrey;
    }

    @media (min-width: 1700px) and (max-width: 1706.67px) {
      transform: translate(-20px, 20px);
      // border: 1px solid darkslategrey;
    }
    @media (min-width: 1900px) and (max-width: 1920px) {
      transform: translate(5vw, 20px);
      // border: 1px solid darkslategrey;
      // background-color: darkorange;
    }
    @media (min-width: 2000px) and (max-width: 2048px) {
      transform: translate(6vw, 20px);
      // border: 1px solid darkslategrey;
      // background-color: darkorange;
    }
  }
  .Tool-item-code {
    transform: translateY(22px);
    opacity: 40%;
    border: none;
    outline: none;
    @media (min-width: 1700px) and (max-width: 1706.67px) {
      transform: translate(-30px, 20px);
      // border: 1px solid darkgoldenrod;
    }
    @media (min-width: 1900px) and (max-width: 1920px) {
      transform: translate(90px, 20px);
      // border: 1px solid darkgoldenrod;
    }
    @media (min-width: 2000px) and (max-width: 2048px) {
      transform: translate(120px, 20px);
      // border: 1px solid darkgoldenrod;
    }
  }

  .Primary-Page-inputfiled-and-tooltip {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;

    .tool-tip-best-pair {
      margin-top: -0.3rem;
      width: 1px;
      margin-left: -11px;
      // border: 1px solid red;
      // @media(max-width: 1280px){
      //   background-color: pink;
      //   margin-left: -15px;
      //   // width: fit-content;
      //   // height: fit-content;
      //   // margin-right: 8rem;
      //   // transform: translateX(-15px);
      // }
    }

    .tool-tip-item-code {
      width: fit-content;
      margin-top: -0.3rem;
      margin-left: -16px;
      @media (max-width: 1280px) {
        // background-color: pink;
        // margin-left: -50px;
        // margin-right: 8rem;
        transform: translateX(-35px);
      }
      @media (min-width: 1281px) and (max-width: 1440px) {
        // background-color: pink;
        margin-left: -1.7rem;
      }
      @media (min-width: 1441px) and (max-width: 1536px) {
        // background-color: pink;
        margin-left: -2.3rem;
      }
    }

    .tool-tip-portion-size {
      position: relative;
      // background-color: orange;
      left: -2rem;
      width: 1px;
    }

    .tool-tip-tax-class {
      margin-left: -25px;
      width: fit-content;
      height: 50px;
      margin-top: -0.6rem;
      @media (min-width: 1281px) and (max-width: 1440px) {
        // background-color: lightsalmon;
        margin-left: -1.6rem;
      }
      @media (min-width: 1441px) and (max-width: 1536px) {
        margin-left: -1.4rem;
        // background-color: lightgreen;
      }
    }
  }

  .Primary-page-container-one {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    .Primary-page-container-pairone {
      width: 28vw;
      height: fit-content;
      // border: 1px solid red;
    }

    .Primary-page-InputFields {
      height: 6rem;
      width: fit-content;

      .KitchenRelated {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .alcoholradiobutton {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -2%;
      gap: 0.5rem;
      height: 4rem;
      h3 {
        font-family: "Poppins", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        color: #000000;
      }
    }
    .barcode {
      height: 6rem;
      width: fit-content;
      margin-top: 20px;
    }
    .Primary-Page-description-field {
      position: relative;
      .description {
        width: 20vw;
        height: 8rem;
        resize: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.313rem;
        padding: 0.5rem;
        color: black;

        &:focus {
          outline: none;
        }
      }
      .Primary-page-description-charcount {
        position: absolute;
        right: 31.5%;
        margin-top: -7%;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: right;
      }
    }
    .Primary-Page-Foodimages {
      margin-top: 1.3rem;
      height: 11rem;
      width: fit-content;
      margin-bottom: 1rem;

      @media (max-width: 1280px) {
        margin-bottom: 1rem;
      }

      .image-container {
        position: relative;
        width: 100px;
        height: 100px;

        .imcrossstyres {
          position: absolute;
          top: 18px;
          left: 69px;
          width: 20px;
          height: 20px;
          border-radius: 50px;
          border: none;
          background-color: #f23d3d;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .uploaded-image {
          position: relative;
          top: 0.063rem;
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 3.125rem;
          padding: 0.313rem;
          position: relative;
          top: 1rem;
        }
      }
      
      .addingimg {
        width: 5rem;
        height: 5rem;
        border-radius: 3.125rem;
        padding: 0.313rem;
        position: relative;
        top: 1rem;
        // border: 1px solid red;
      }

      .imagealignment {
        display: flex;
        flex-direction: row;
        // background-color: red;
        width: fit-content;
      }

      h3 {
        font-family: "Poppins", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;

        color: #000000;
      }
      p {
        font-size: 0.75rem;
        font-weight: 300;
        color: #979797;
        position: relative;
        top: 0.0623rem;
      }

      .imgfile {
        display: none;
      }
    }

    .PopularItem {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -1.2%;
      input {
        width: 20px;
        height: 20px;
        accent-color: #67833e;
      }
      span {
        font-size: 16px;
      }
    }

    .Primary-Page-categories-field {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .Primary-page-Allergens-selection {
      width: 43vw;
      height: 40vh;
      border-radius: 0.313rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
      margin-top: 3%;
    }
    .tool-tip-Allergen {
      margin-left: 96.5%;
      margin-top: -6.5%;
    }

    .Primary-page-container-pairtwo {
      width: 45vw;
      height: 90vh;
      margin-left: 2rem;
      // border: 1px solid red;
    }
  }

  .Primary-page-container-two-heightdynamic {
    margin-left: 20px;
    height: 80vh;
    margin-top: -8.5%;
  }
  .Primary-page-container-two {
    margin-left: 20px;
    height: 80vh;
    // margin-top: -11.5%;
    // background-color: yellow;
    width: fit-content;
  }
  .Primary-page-ingredients-selection {
    width: 45vw;
    height: 40vh;
    border-radius: 0.313rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    // background-color: pink;
    margin-top: 2rem;
  }
  .Primary-page-ingredients-selection1 {
    width: 45vw;
    height: 40vh;
    border-radius: 0.313rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    // background-color: pink;
    margin-top: 5rem;
  }
  .Primary-Page-Other-Details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 3%;
    .Primary-Page-Other-Details-heading {
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;

      color: #000000;
    }
    .Primary-Page-Other-Detail {
      display: flex;
      flex-direction: row;
      height: fit-content;
      align-items: center;
      // justify-content: center;
      gap: 30px;
      // background-color: red;
      // background-color: lightcoral;
      width: 100%;
      @media (min-width: 1700px) and (max-width: 1706.67px) {
        // border: 1px solid darkblue;
        gap: 3vw;
      }
      @media (min-width: 1900px) and (max-width: 1920px) {
        // border: 1px solid black;
        gap: 5vw;
      }
      @media (min-width: 2000px) and (max-width: 2048px) {
        // border: 1px solid red;
        gap: 5vw;
      }
      .Caloriepointradio {
        position: relative;
        left: 1%;
        // border: 1px solid black;
        //hehe
        @media (min-width: 1700px) and (max-width: 1706.67px) {
          // border: 1px solid darkorchid;
        }
      }
      .Primary-Page-inputfiled-and-tooltip-portion {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        width: fit-content;
        margin-left: 0.45rem;
        .tool-tip-portion-cont {
          margin-left: -0.3rem;
          width: 30px;
          height: 50px;
          margin-top: -0.5rem;
        }
      }
    }
  }

  .Primary-Page-Formsubmitbutton {
    margin-top: 2%;
  }

  // .portionSize-Radio {
  //   position: relative;
  //   left: 0.8rem;
  //   top: 0.7rem;
  // }
  .buttonContainer {
    width: 100%;
    position: absolute;
    left: -17px;
  }
  .buttonContainerExpanded {
    width: 100%;
    position: absolute;
    left: 0px;
  }
}

@media (min-width: 1462px) and (max-width: 1661px) {
  .tool-tip-item-code {
    margin-left: -20px;
    transform: translateX(30px);
  }

  // .tool-tip-tax-class {
  //   transform: translateX(50px);
  // }
}

@media (min-width: 1662px) and (max-width: 1826px) {
  .tool-tip-item-code {
    margin-left: -20px;
    transform: translateX(80px);
  }

  .tool-tip-tax-class {
    transform: translateX(80px);
  }
}
