.MLSearch-Container {
  display: flex;
  flex-direction: column;
  // background-color: yellow;
  // width: fit-content;
}

.MLHeader-Search {
  width: 606.57px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  border: 1px solid #979797;
  opacity: 0.7;
  padding-left: 20px;
}

.MLHeader-Search1 {
  width: 580.57px;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  // transform: translateY(-2px);
  border: 1px solid #979797;
  opacity: 0.7;
  padding-left: 20px;
}

// .MLSerchIcon-Header {
//   width: 24px;
//   height: 21px;
//   position: fixed;
//   top: 5px;
//   left: -40px;
//   cursor: pointer;
// }
.MLsearchbox {
  position: relative;
  // border: 1px solid red;
}
.MLSerchIcon-Header {
  width: 24px;
  height: 21px;
  position: absolute;
  right: 5%;
  top: 25%;
  @media (max-width: 1280px) {
    left: 70%;
  }
}
.MLSerchIcon-Header1 {
  width: 24px;
  height: 21px;
  position: absolute;
  right: 5%;
  top: 25%;

  // background-color: pink;
  // border: 1px solid red;

  @media (max-width: 1280px) {
    left: 70%;
  }
}

//   {******************************Search Container*******************************************}
// .Search-Container-options-menu {
//   width: 612px;
//   background-color: #ffffff;
//   max-height: 50vh;
//   padding-left: 20px;
//   box-shadow: 0px 10px 15px -6px #00000040;
//   transform: translateY(1px);
//   overflow-y: auto;
//   position: absolute;
//   z-index: 2;
//   top: 53px;
//   left: 9.5vw;
//   padding-bottom: 10px;
// }
.searched-item-box {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  

}
.MLSearch-Container-options1 {
  width: 560px;
  background-color: #ffffff;
  max-height: 45vh;
  // min-height: 45vh;
  padding-left: 20px;
  // border: 1px solid red;
  transform: translateY(1px);
  overflow-y: auto;
  position: absolute;
  z-index: 2;
  top: 53px;
  left: 12rem;
  // padding-bottom: 10px;
  overflow-x: hidden;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  // border: 1px solid red;
  &::-webkit-scrollbar {
    display: none;
  }
}

.MLsearchBoxContainer {
  // box-shadow: 0xp 2px 2px 2px #ccc;
  box-shadow: none;
  border: none;
  outline: none;
 
}

.MLsearchBoxContainer1 {
  // box-shadow: 0px 2px 2px 2px #ccc;
  box-shadow: none;
}

.MLSearch-Container-options-menu ul {
  list-style: none;
  cursor: pointer;
  overflow-x: hidden;
  background-color: white;
  height: 45vh;
  // border: 1px solid red;
  // width: 36.9vw !important;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow: auto;
  width: 37.5vw;
  // box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2509803922);
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  box-shadow: none;
  margin-top: 0px;
  @media (min-width: 1441px) and (max-width: 1536px){
    width: 36.9vw !important;
    // background-color: palegreen;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}

.MLSearch-Container-options1 ul {
  list-style: none;
  cursor: pointer;
  // background-color: paleturquoise;
  // cursor: pointer;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.MLSearch-Container-options-items {
  width: 506.57px;
  font-family: Poppins;
  font-weight: 400;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 54px;
  color: #000000;
  margin-left: 25 px;
  margin-top: 10px;
  height: 1rem;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-bottom: 30px;
  transform: translateY(-4px);
  z-index: 2;
}

.MLSearch-Container-options1-items {
  width: 400px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 54px;
  color: #000000;
  margin-left: 25 px;
  margin-top: 10px;
  height: 1rem;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-bottom: 30px;
  transform: translateY(-4px);
  z-index: 2;
}

.MLSearch-Container-options ul li:hover {
  // width: 550px;
  background-image: linear-gradient(to left, #EAEAEA 99%, #EAEAEA 2%);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // height: 54px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.MLSearch-Container-options1 ul li:hover {
  // width: 500px;
  background-image: linear-gradient(to left, #EAEAEA 99%, #EAEAEA 2%);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // height: 54px;
  // margin-bottom: 10px;
  // margin-top: 10px;
}

.MLSearch-Container-options1 .highlighted {
  // width: 449px;
 
  background-image: linear-gradient(to left, #d9d9d9 99%, #67833e 2%);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // height: 45px;
}

.MLhighlighted {

  background-image: linear-gradient(to left, #B3B3B3 99%, #67833e 2%);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  // margin-left: -10%;

  // height: 45px;
}
.list-of-item-name {
  margin-left: -5%;
  &:hover{
    background-image: linear-gradient(to left, #EAEAEA 99%, #EAEAEA 2%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
   
  }
}
.list-of-item-name-expand {
  margin-left: -10%;
  &:hover{
    background-image: linear-gradient(to left, #EAEAEA 99%, #EAEAEA 2%);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
// {******************************Search Container None*******************************************}

.MLSearch-Container-options-none {
  width: 610px;
  height: 45vh;
  background-color: #ffffff;
  transform: translate(-18px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1.5vw;
  bottom: 16px;
  margin-top: -2rem;
  flex-direction: column;
}

.MLSearch-Container-options1-none {
  width: 36vw;
  height: 40vh;
  // background-color: #979797;
  background-color: #ffffff;
  // background-color: pink;
  border: 1px solid transparent;
  // border: 1px solid palegreen;
  transform: translate(-45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.MLSearch-Container-options-none-flex-direction {
  display: flex;
  flex-direction: column;
}

.MLNotFoundImage {
  width: 372px;
  height: 338.52px;
  position: relative;
  top: 2.3rem;
}

.MLNotFoundImageExpanded{
  width: 372px;
  height: 338.52px;
  position: relative;
  top: 0.7rem;
  // border: 1px solid palevioletred
}

.MLheading-none {
  color: #67833e;
  font-size: 22px;
  font-family: Poppins;
  transform: translate(90px, -30px);
  margin-right: 140px;
}

.MLheading-none-expanded{
  color: #67833e;
  font-size: 22px;
  font-family: Poppins;
  transform: translate(90px, -60px);
  margin-right: 140px;
  // background-color: lightsalmon;
}

/* Apply styles for devices with a max width of 768px */
@media (max-width: 2400px) {
  .MLSearch-Container-options-menu ul {
    width: 31vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 2000px) {
  .MLSearch-Container-options-menu ul {
    width: 30vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 1700px) {
  .MLSearch-Container-options-menu ul {
    width: 35vw;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1500px) {
  .MLSearch-Container-options-menu ul {
    // border: 1px solid palevioletred;
    width: 39.4vw;
    // background-color: palevioletred;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
}

// @media (max-width: 1536px) {
//   .MLSearch-Container-options-menu ul {
//     width: 40vw;
//     // background-color: pink;
//     background-color: white;
//   }
// }