.report-product-availability{
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    .items-cancelled-reasons-container{
        display: flex;
        flex-direction: column;
        .items-cancelled-reason-head-download-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .items-cancelled-heading {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.35px;
            }
        }
    }
}