  /**
   * A container for the sales overview page.
   *
   * This component is a container for the sales overview page. It contains
   * a heading, a grid of sales overview cards, a container for the tender
   * types, and a container for the discount cards.
   *
   * @example
   *   <SalesOverview />
   */
.sales-overview {
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 0px;

  & h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #262626;
  :not(.card-mini-graph-container .card-title-value-container){    
    margin: 20px 0px;
} 
 }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    margin-top: 20px;
  }


  .reports-tendor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    // display: flex;
    // flex-direction: row;
    gap: 24px;
    margin-top: 46px;

    h2 {
      font-family: Poppins;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.2px;
      color: #262626;
    }

    .left-section,
    .right-section {
      // flex: 1;
      display: flex;
            flex-direction: column;
            gap: 10px;
      box-shadow: none;
      border: none;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .reports-discount-countainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    .left-section,
    .right-section {
      width: 50%;
      flex: 1;
    }
  }
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}
.doughnut-chart-with-button{
  width: 50%;
  @media(max-width: 600px){
    width: 100%;
  }
}
.total-sales-heading-container {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  margin: 40px 0px 10px 0px;
  gap: 15px;

  h2{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.25px;
    }
  
  .total-sales-info-content {
    padding: 10px;
    z-index: 10;
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins";
    color: #ffff;
    background-color: #6f6f6f !important;
    border-radius: 5px;
  }

  .total-sales-info-container {
    position: relative;
    // background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    .total-sales-info-content {
      display: none;
    }
  }
  .total-sales-info-container:hover {
    position: relative;
    .total-sales-info-content {
      display: block;
      position: absolute;
      left: 2vw;
      // width: 50vw;
      // text-wrap: wrap;
      max-width: 50vw;
      min-width: 20vw;
      top: 0%;
    }
  }
  h2 {
    font-weight: 500;
  }
}
// Remove this
.todays-report-sales-overview-box-container-parent {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  h2 {
    font-weight: 500;
  }

  .todays-report-sales-overview-box-container {
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    gap: 18px;
    width: 100%;

    // margin: auto;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, auto);
      gap: 16px;
    }
  }
}

.todays-report-tables-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  gap: 5vh;
}

.sales-overview-doughnut-chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  @media(max-width: 600px){
    flex-direction: column;
  }
  .doughnut-chart-container{
    // width: 50%;
    // height: 100%;
    @media(max-width: 600px){
      width: 100%;
    }
  }
}

