.todays-report-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
            .todays-report-head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 2vw;
            .todays-report-store-name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                h4{
                    font-weight: 500;
                }
                h2{
                    font-weight: 500;
                }
            }
            .todays-report-select-store-refresh-container {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                h4{
                    font-weight: 400;
                    color: #8D8D8D;
                }
                .todays-report-store-and-refresh-btn{
                    display: flex;
                    gap: 2vw;
                    p{
                        width: 8vw;
                    }
                    button{
                        width: 8vw;
                    }
                }
            }
        }
        .todays-report-sales-overview-box-container-parent{
            display: flex;
            flex-direction: column;
            gap: 1vh;
            h2{
                font-weight: medium;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.25px;
            }
            .todays-report-sales-overview-box-container{
                display: grid;
                grid-template-columns: repeat(4, 1fr); 
                grid-template-rows: repeat(2, auto); 
                gap: 16px; 
                width: 98%;
                max-width: 1200px; 
                @media (max-width: 1024px) {
                    grid-template-columns: repeat(2, 1fr); 
                    grid-template-rows: repeat(4, auto);    
                }
                @media (max-width: 600px) {
                    grid-template-columns: repeat(1, 1fr); 
                    grid-template-rows: repeat(8, auto); 
                }
            }
        }
        .todays-report-tables-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: fit-content;
            gap: 5vh;
        }
}



::-webkit-scrollbar{
    display: none;
}