.DaysCheckContainer1 {
  margin-top: 26px;
  margin-left: -15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  .days {
    transform: translateY(4px);
    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-right: 10px;

    accent-color: #779749;
  }
}
.DaysCheckContainer {
  margin-top: -7px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.DaysCheckContainer {
  label {
    padding-left: 8px;
    // border: 1px solid red;
    padding-right: 20px;
    font-family: "Poppins";
    color: rgba(47,47,1);
    font-size: 16px;
    font-weight: 400;
  }
}
