* {
  font-family: "Poppins", sans-serif;
}

.navigation {
  position: relative;
  height: 2.25rem;
  top: 0.363rem;
  left: 40px;
  width: 100%;
}

.Mainheading {
  width: 400px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #67833E;
  line-height: 36px;
  
  margin-top: 30px;
  margin-bottom: 40px;
}

.listofnavigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 7rem;
  position: relative;
  left: -3vw;
}

.listofnavigationExpanded {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 7rem;
  position: relative;
  left: -3vw;
}

.lists, .listsExpanded {
  list-style: none;
}

.lists {
  width: 19.875rem;
}

.listsExpanded {
  width: 18.875rem;
}

/* Navbar styling */
.navbar, .navbarExpanded {
  height: 1px;
  padding-bottom: 0.313rem;
  transition: background-color 0.3s;
  border-radius: 0.625rem;
  background-color: #979797;
  // cursor: pointer;
}

.navbar {
  width: 18rem;
}

.navbarExpanded {
  width: 22rem;
}

.navbar.active, .navbarExpanded.active {
  background-color: #67833E;
}

.list-text {
  font-size: 16px;
  font-weight: 500;
  color: #979797;
  position: relative;
  margin-bottom: 6px;
  // cursor: pointer;
}

.list-text.activetext {
  color: black;
  font-weight: 500;
}
