.Review-values{
    width: 15rem;
    height: 4rem;
    margin-top:0.5rem;
    // border: 1px solid red;

    .Review-values-label
    {

        font-size: 12px;
        font-weight: 400;
        color: #6E6E6E;
    }
    .Review-values-text
    {
        font-size: 14px;
        font-weight: 400;
        color: black;

    }
}