.Review-values {
  width: 13rem;
  height: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  // border: 2px solid;
  // overflow-y: auto;
  // overflow-x: hidden;
  padding-left: 20px;

  .Review-values-label {
    font-size: 12px;
    font-weight: 400;
    color: #6e6e6e;
  }
  .Review-values-text {
    font-size: 14px;
    font-weight: 400;
    color: black;
    
    // border: 1px solid red;
  }
}
