* {
  font-family: "Poppins", sans-serif;
}

.pricingDetails {
  display: flex;
  width: 105.3%;
}

.pricingDetailsExpanded {
  display: flex;
  width: 102%;
}

.pricingdetails-containerExpanded {
  position: absolute;
  top: 160px;
  margin-left: -35px;
  overflow-x: hidden;
  height: 38.5rem;
  width: 100%;
  overflow-y: auto;
}

.pricingdetails-container {
  position: absolute;
  top: 160px;
  margin-left: -1rem;
  overflow-x: hidden;
  height: 37.5rem;
  width: 93.3%;
  overflow-y: auto;
}

.pricing-form {
  display: flex;
  flex-direction: column;
  width: 1120px;
  margin-left: 55px;
  // overflow-y: auto;
  height: 72vh;
  // font-size: 14px;
}

.KitchenRelated {
  display: flex;
  height: 4rem;
  // border: 1px solid red;

  

}
// .KitchenRelated > div {
//   flex: 1; /* This will make the divs take equal space */
// }
.D1kitchen {
  // margin-top: -80px;
  // margin-left: -20px;
  height: 6rem;
  width: fit-content;
  // border: 1px solid red;

  display: flex;
  align-items: center;
  .kitche-stations-dropdown {
    position: relative;
  }
}

  .Prepartiontime {
    margin-top: -1.5rem;
    .heading {
      position: relative;
       top: -0.3rem;
      color: #424242;
      font-family: Poppins;
      font-size: 14.38px;
      font-weight: 400;
      line-height: 21.56px;
      letter-spacing: 0.004em;
      text-align: left;
    }
  }

  .Prepartiontime-input-fileds {
    display: flex;
    flex-direction: row;
  
    gap: 10px;
    position: relative;

    .Prepartiontime-input-hours {
      width: 40px;
      height: 40px;
      font-family: Poppins;
      font-size: 19.17px;
      font-weight: 400;
      line-height: 28.75px;
      letter-spacing: 0.0015em;
      text-align: center;
      border-radius: 5.41px;
      border: 1px solid #9f9f9f;
    }

    .Prepartiontime-input-mins {
      width: 48px;
      height: 40px;
      border-radius: 5.41px;
      border: 1px solid #9f9f9f;
    }
  }

  .timeSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

.KitchenRelatedHeading {
  margin-top: 20px;
  transform: translateY(15px);
  padding-bottom: 8px;
  font-size: 14px;
}
.ErrorsForm {
  font-size: 0.75rem;
  color: red;
  font-weight: 500;
}
.KitchenInput {
  -webkit-appearance: none;
  width: 18.75rem;
  height: 44px;
  border-radius: 0.313rem;
  font-size: 0.875rem;
  color: #979797;
  font-weight: 400;
  padding-left: 15px;
  background-size: 1.5rem;
}
.Tool {
  display: flex;
  justify-content: flex-start;
}
.ToolKitchen {
  transform: translateY(22px);
  opacity: 40%;
}
.Imgarrow {
  position: relative;
  top: 15px;
  left: -380px;
  height: 8px;
  width: 16px;
  z-index: 1;
}
.Imgarrow2 {
  position: relative;
  left: -80px;
  top: 20px;
  height: 8px;
  width: 16px;
}
.checkbox1-Kitchen {
  accent-color: #779749;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0px;

  transform: translateY(5px);
}
.Kitchen-checkbox {
  width: 300px;
  height: 30px;
  // bottom: -0.5rem;
  // margin-top: 10px;
  position: relative;
  // top: 22px;
  // margin-bottom: 30px;
}
.services-Heading {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-left: 8px;
  margin-bottom: -5px;
  margin-top: 10px;
}

.InventoryToggle {
  margin-top: -17rem;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.IHeading {
  font-size: 1rem;
  font-weight: 500;
}
.toggleI {
  transform: translateY(1.5px);
}
.toggleII {
  transform: translateY(16px);
}
.toggleIII {
  transform: translateY(16px);
  margin-left: -3px;
}
.toggleIV {
  transform: translateY(16px);
}
.toggleV {
  transform: translateY(16px);
}
.InventorySection {
  display: flex;
  flex-direction: column;
}
.InventoryHeading {
  // margin-top: 10px;
  // display: flex;
  // gap: 3.75rem;
  // font-size: 0.875rem;
  // font-weight: 400;
  // color: #979797;
  // margin-left: 1.8px;
}
.InventoryInput {
  display: flex;

  gap: 1rem;
  input {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.ErrorsFormi2 {
  font-size: 0.75rem;
  color: red;
  font-weight: 500;
  margin-left: 305px;
  margin-top: -19px;
}
.Inventorycheck {
  margin-left: 5px;
  color: #979797;
  font-size: 14px;
  font-weight: 400;
}
.ToolInventory {
  transform: translateY(22px);
  margin-left: -30px;
  opacity: 40%;

  width: 20px;
  height: 20px;
}
.ToolInventory1 {
  transform: translateY(23px);
  // margin-left: -30px;
  opacity: 40%;
  margin-left: -29.5px;

  width: 20px;
  height: 20px;
}
.I1 {
  width: 244px;
  font-size: 14px;
  color: #979797;
  height: 41px;
  border-radius: 0.313rem;
  border: 1px solid #979797;
  padding-left: 15px;
}
.I1red {
  width: 244px;
  font-size: 14px;
  color: #979797;
  height: 44px;
  border-radius: 0.313rem;
  padding-left: 15px;
}

.bg-grey2 {
  position: relative;
  top: -44px;
  left: 494px;
  // top:-44px;
  // left:409px;
  left: -61px;
  top: 1px;

  background-color: #d9d9d9;
  width: 44px;
  height: 42.5px;
  // border-radius:5px;
  margin-bottom: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.threshold {
  margin-left: 0.1rem;
}

.uparrowdownarrow2 {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  // top:-77px;
  // left:522px;
  top: 10px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
}
.arrow {
  width: 0.875rem;
  height: 0.5rem;
}

.Inventcheckbox {
  margin-top: 60px;
  .checkboxI {
    margin-top: -55px;
  }
  .checkbox2 {
    margin-top: 5px;
  }
}

.InventoryHeadingII {
  margin-left: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #979797;
}
.checkbox1-color {
  accent-color: #779749;
  width: 1.25rem;
  height: 1.25rem;
  transform: translateY(5px);
}

.NormalSpecial {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  margin-top: 10px;
  accent-color: #779749;
}

.N1 {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
}
.S1 {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
}
.S1radio {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
}
.N1radio {
  width: 20px;
  height: 20px;
  transform: translateY(5px);
}

.buttoncomponentpricing {
  // margin-bottom: 10px;
  position: relative;
  margin-top: 2rem;
  // top: 200px;
  left: -75px;
  display: flex;
  width: 1290px;
  border: 1px solid white;
}
.buttoncomponentpricing1 {
  // margin-bottom: 10px;
  position: relative;
  top: 200px;
  margin-top: 2rem;
  left: -55px;
  display: flex;
  width: 1500px;
  border: 1px solid white;
}

.saveandnextPricingExpanded {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  right: 2px;
  gap: 10px;

  .clearallPricing {
    width: 135px;
    height: 44px;
    padding: 10px 14px 10px 14px;
    gap: 9px;
    border-radius: 4px;
    opacity: 0px;
    background: white;
    color: #67833e;
    border: 1px solid #67833e;

    font-size: 16px;
    font-weight: 500;
  }
  .saveall {
    border: none;
    width: 135px;
    margin-left: 10px;
    height: 44px;
    padding: 10px 14px 10px 14px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #67833e;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}
.saveandnextPricing {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  right: 2px;
  gap: 10px;
  z-index: 2;

  .clearallPricing {
    width: 135px;
    height: 44px;
    padding: 10px 14px 10px 14px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: white;
    color: #67833e;
    border: 1px solid #67833e;
    font-size: 16px;
    font-weight: 500;
  }
  .saveall {
    border: none;
    width: 135px;
    margin-left: 10px;
    height: 44px;
    padding: 10px 14px 10px 14px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background: #67833e;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
}
.link {
  text-decoration: none;
}
.Button-Save {
  margin-left: 380px;
  position: relative;
  top: 10px;
}
.Button-SaveExtended {
  position: relative;
  top: 10px;
  margin-left: 100px;
}
