.reports-sales-card {
  width: 250;
  height: 106;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  padding: 16px;
  gap: 20px;
  
    .card-header {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      color: #666;
      .card-header-title{
        font-family: Poppins;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.2px;
color: #6F6F6F;

      }
      .trend{
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.2px;        
      }

    }

    .card-body {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;

      h3 {
        font-family: Poppins;
font-weight: 600;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.4px;
color:#393939;
      }

      .chart {
        height: 40px;
        width: 100%;
        border-radius: 5px;
        margin-top: 8px;
      }

      .chart.positive {
        background: linear-gradient(to right, #b0f3a1, #28a745);
      }

      .chart.negative {
        background: linear-gradient(to right, #f5a1a1, #dc3545);
      }
    }
}

.positive {
  color: #28a745;
}

.negative {
  color: #dc3545;
}