.new-product-container{
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 5vh;
    width: 94%;

    &.new-product-container-expanded { 
        width: 82%;
        background-color: palegreen;
    }
}